mixin numbered-list(listItems)
  .numbered-list
    each item, index in listItems
      .numbered-list__item
        .numbered-list__marker
          if (index < 9)
            | !{"0" + (index + 1)}
          else
            | !{index + 1}
        .numbered-list__description
          | !{item}