//  FORM MAIN
@import "partials/form-main.styl"

//  INPUTS
@import "partials/inputs.styl"

//  RADIOBUTTON & CHECKBOXES
//@import "partials/radiocheck.styl"

//  SELECTS
@import "partials/select.styl"

//  CHOSEN
//@import "partials/chosen.styl"

//  SELECT2
//@import "partials/select2.styl"

//  RANGE SLIDER
//@import 'partials/rangeslider'

//  DATEPICKER
//@import "partials/datepicker"

//  STATEMENTS
@import "partials/validation.styl"