.radiocheck
  position relative
  padding 0
  mb(15)

  input
    position absolute
    opacity 0

    & + .radiocheck_icon
      position relative
      cursor pointer
      fw(400)
      &:before, &:after
        ba()
        tr(2)
        lr(0)
        wir(15)
        her(15)
        trans()

      &:before
        border r(1) solid $gr
        opacity 1

      &:after
        bg(blue)
        border r(1) solid blue
        opacity 0

  &_text
    pl(20)

  input[type='radio'] + &_icon
    &:after, &:before
      border-radius 50%

  input:checked + &_icon
    &:before
      opacity 0
    &:after
      opacity 1