mixin nav-icon()
    .nav-icon#menu-trigger
        span
        span
        span
        span

mixin nav-icon-text
    .nav-icon-text
        .nav-text
            .nav-text_open Меню
            .nav-text_close Закрити

        .nav-icon#menu-trigger
            span
            span
            span
            span