//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    section
        .container
            .row.justify-content-center

                .col-12
                    h1 Typography
                    hr
                    h2 Headings
                .col-md-8
                    h1 The quick brown fox jumps over the lazy dog
                    h2 The quick brown fox jumps over the lazy dog
                    h3 The quick brown fox jumps over the lazy dog
                    h4 The quick brown fox jumps over the lazy dog
                    h5 The quick brown fox jumps over the lazy dog
                    h6 The quick <br>own fox jumps over the lazy dog

                .col-12
                    h2 Paragraphs
                .col-md-8
                    p.paragraph-lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit.
                    p Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, met.
                    p.paragraph-small Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien sollicitudin lacinia lacinia. Vivamus facilisis dolor et massa placerat, at vestibulum nisl egestas. Nullam rhoncus lacus non odio luctus, eu condimentum mauris ultrices. Praesent blandit, augue a posuere aliquam, arcu tortor.

                .col-12
                    h2 QUOTES
                .col-md-8
                    blockquote
                        | Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam.
                    cite
                        | – Curabitur lobortis id lorem id bibendum.

                .col-12
                    h2 Lists
                .col-md-3
                    ul
                        li Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
                        li Fusce vehicula dolor
                            ul
                                li Sit amet blandit dolor
                                li Ut pretium pretium tempor
                        li In volutpat ante semper diam
                .col-md-3
                    ol
                        li Lorem ipsum dolor sit amet
                        li Fusce vehicula dolor arcu
                            ol
                                li Sit amet blandit dolor mollis
                                li Donec viverra eleifend lacus
                        li Ut pretium pretium tempor
                .col-md-3
                    ul.ul-regular
                        li Lorem ipsum dolor sit amet
                        li Fusce vehicula dolor
                            ul
                                li Sit amet blandit dolor
                                li Ut pretium pretium tempor
                        li In volutpat ante semper diam

                .col-12
                    h1 Tables
                    hr
                    h2 Basic
                .col-md-8
                    table
                        tr
                            th Table Header
                            th Table Header
                            th Table Header
                        tr
                            td Table Cell
                            td Table Cell
                            td Table Cell
                        tr
                            td Table Cell
                            td Table Cell
                            td Table Cell
                        tr
                            td Table Cell
                            td Table Cell
                            td Table Cell
                .col-12
                    h1 Forms
                    hr
                    h2 Inputs
                .col-md-4
                    form
                        label Label
                        input(type='text' placeholder='Placeholder')

                        label Error
                        input(type='text' placeholder='Placeholder').error

                        label Disabled
                        input(type='text' placeholder='Placeholder' disabled='')

                        label Success
                        input(type='text' placeholder='Placeholder').success

                .col-md-4
                    form
                        label Label
                        .input-group
                            input(type='text' placeholder='Placeholder')
                            span
                                i.fas.fa-search

                        label Error
                        .input-group.error
                            input(type='password' placeholder='Placeholder')
                            span
                                i.far.fa-user

                        label Disabled
                        .input-group.disabled
                            input(type='text' placeholder='Placeholder' disabled='')
                            span
                                i.far.fa-user

                        label Success
                        .input-group.success

                            input(type='text' placeholder='Placeholder')
                            span
                                i.fas.fa-check

                        input(type='reset').btn

                .col-12
                    h2 Textareas
                .col-md-4
                    form
                        label Label
                        textarea(placeholder='Placeholder')

                        label Error
                        textarea(placeholder='Placeholder').error

                        label Disabled
                        textarea(placeholder='Placeholder' disabled='')

                        label Success
                        textarea(placeholder='Placeholder').success

                .col-md-4
                    form
                        label Label
                        .input-group
                            textarea(placeholder='Placeholder')
                            span
                                i.far.fa-envelope

                        label Error
                        .input-group.error
                            textarea(placeholder='Placeholder')
                            span
                                i.far.fa-envelope

                        label Disabled
                        .input-group.disabled
                            textarea(placeholder='Placeholder')
                            span
                                i.far.fa-envelope

                        label Success
                        .input-group.success
                            textarea(placeholder='Placeholder')
                            span
                                i.far.fa-envelope
                .col-12
                    h2 Selects
                .col-md-4
                    .select-group
                        select
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5
                    .select-group.error
                        select
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5
                    .select-group.success
                        select
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5
                    .select-group.disabled
                        select(disabled='')
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5

                .col-md-4
                    .select-group.input-group
                        span
                            i.fas.fa-plane
                        select
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5

                    .select-group.input-group.error
                        span
                            i.fas.fa-plane
                        select
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5

                    .select-group.input-group.success
                        span
                            i.fas.fa-plane
                        select
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5

                    .select-group.input-group.disabled
                        span
                            i.fas.fa-plane
                        select(disabled='')
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5
                .col-md-8
                    select.chosen-select(data-placeholder="Choose...")
                        option
                        option Value 1
                        option Value 2
                        option Value 3
                        option Value 4
                        option Value 5

                    .select-group.select-group-noarrow
                        select.select2-select
                            option
                            option Value 1
                            option Value 2
                            option Value 3
                            option Value 4
                            option Value 5

                .col-12
                    h2 Checkboxes
                .col-md-8
                    label.radio-check
                        input#checkbox1(type='checkbox')
                        span Checkbox
                    label.radio-check.error
                        input#checkbox2(type='checkbox')
                        span Error
                    label.radio-check.disabled
                        input#checkbox3(type='checkbox' disabled='')
                        span Disabled
                    label.radio-check.success
                        input#checkbox4(type='checkbox')
                        span Success


                .col-12
                    h2 Radio Buttons
                .col-md-8
                    label.radio-check
                        input#radio1(type='radio' name="gender" value="One")
                        span Radio Button 1
                    label.radio-check
                        input#radio2(type='radio' name="gender" value="Two")
                        span Radio Button 2
                    label.radio-check
                        input#radio3(type='radio' name="gender" value="Three")
                        span Radio Button 3
                    label.radio-check.error
                        input#radio4(type='radio' name="gender" value="One")
                        span Radio Error
                    label.radio-check.disabled
                        input#radio5(type='radio' name="gender" value="Two" disabled='')
                        span Radio Disabled
                    label.radio-check.success
                        input#radio6(type='radio' name="gender" value="Three")
                        span Radio Success

                .col-12
                    h2 Buttons & Links
                .col-md-8
                    a(href='' title='').btn Button
                    button(type='submit').btn Submit
                    a(href='' title='') Regular Link

                .col-12
                    h2 Navs
                .col-md-8
                    ul.ul-nav
                        li
                            a(href='' title='').active Link 1
                        li
                            a(href='' title='') Link 2
                        li
                            a(href='' title='') Link 3
                        li
                            a(href='' title='') Link 4

                .col-12
                    h2 Breadcrumbs
                .col-md-8
                    ul.breadcrumbs
                        li
                            a(href='' title='') Link 1
                        li
                            a(href='' title='') Link 2
                        li
                            a(href='' title='') Link 3
                        li
                            a(href='' title='').active Link 4

                .col-12
                    h2 Pagination
                .col-md-8
                    ul.pagination
                        li
                            a(href='' title='').arrow
                                i.fas.fa-angle-left
                        li
                            a(href='' title='').active 1
                        li
                            a(href='' title='') 2
                        li
                            a(href='' title='') 3
                        li
                            a(href='' title='') ...
                        li
                            a(href='' title='').arrow
                                i.fas.fa-angle-right

                .col-12
                    h2 Address
                .col-md-8
                    address
                        .address-line
                            | Ukraine, Kyiv, Example st. 56,
                        .address-line
                            | tel:
                            a(href='tel:' title='')  067 567 45 45
                        .address-line
                            | mail:
                            a(href='mailto:' title='')  example@gmai.com


                .col-12
                    h2 Modals
                .col-md-8
                    a(data-fancybox data-src="#hidden-content" href="javascript:;").btn.btn-center Modal
                    #hidden-content(style='display:none')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, beatae cum expedita harum id illum itaque iusto laudantium natus non obcaecati pariatur repellat, voluptatem. Autem explicabo laboriosam quod voluptate voluptates!

                .col-12
                    h2 Galleries
                .col-md-8
                    div
                        a(href='https://source.unsplash.com/5CpaOSMWLdQ/1500x1000', data-fancybox='images', data-width='1500', data-height='1000')
                            img(src='https://source.unsplash.com/5CpaOSMWLdQ/240x160')
                        a(href='https://source.unsplash.com/Uszp5Gkg0AI/1500x1000', data-fancybox='images', data-width='1500', data-height='1000')
                            img(src='https://source.unsplash.com/Uszp5Gkg0AI/240x160')
                        a(href='https://source.unsplash.com/26-lAP0XprM/1500x1000', data-fancybox='images', data-width='1500', data-height='1000')
                            img(src='https://source.unsplash.com/26-lAP0XprM/240x160')


                .col-12
                    h2 Accordion
                .col-md-8
                    #accordion
                        .accordion--heading Section 1
                        .accordion--panel
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .accordion--heading Section 2
                        .accordion--panel
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .accordion--heading Section 3
                        .accordion--panel
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                .col-12
                    h2 Tabs

                .col-md-8
                    #tabs
                        ul.tabs
                            li
                                a(href='#' title='' data-tab='tab1').active London
                            li
                                a(href='#' title='' data-tab='tab2') Paris
                            li
                                a(href='#' title='' data-tab='tab3') Tokyo
                        .tabs-content.active
                            h3 London
                            p London is the capital city of England.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolor dolorum eius eum, excepturi facere fugiat in iusto, laborum magni, maiores odit pariatur quam quia quis repellat sit tempora?
                        .tabs-content
                            h3 Paris
                            p Paris is the capital of France.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolor dolorum eius eum, excepturi facere fugiat in iusto, laborum magni, maiores odit pariatur quam quia quis repellat sit tempora?
                        .tabs-content
                            h3 Tokyo
                            p Tokyo is the capital of Japan.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolor dolorum eius eum, excepturi facere fugiat in iusto, laborum magni, maiores odit pariatur quam quia quis repellat sit tempora?


                .col-12
                    h2 Sliders
                .col-md-10
                    .slider-counter
                    .slider.slider-full
                        div
                            .slide
                                img(src='http://via.placeholder.com/1000x350' title='' alt='')
                        div
                            .slide
                                img(src='http://via.placeholder.com/1000x350' title='' alt='')


                .col-12
                    h2 Datepicker
                .col-md-4
                    input(type='text').datepicker

                .col-12
                    h2 Range slider
                .col-md-4
                    .range-slider
                        input(type='number')#nouislider-input0
                        input(type='number')#nouislider-input1
                        .nouislider
                            #nouislider

                .col-12
                    h2 Maps
                .col-md-8
                    include ../components/_widgets/map/map
                    #map





