//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    section
        .container
            //.row
            //    .col-4
            .grid-row
                .grid-col-4 4
                .grid-col-4 4
                .grid-col-4 4
                .grid-col-6 6
                .grid-col-6 6
                .grid-col-3 3
                .grid-col-3 3
                .grid-col-3 3
                .grid-col-3 3
                .grid-col-8 8



