extend layouts/_layout.pug

block title
    | IT Ukraine Association - Сторінки


block content



    -var n = 1

    -array = [{name: 'Головна', href: 'index.html'}]

    section
        .container
            .row
                each val in array
                    .col-md-4.col-lg-3
                        a(href= val.href title='' target='_blank' style='margin-bottom:25px').btn
                            = n++
                            | .
                            | &nbsp;
                            = val.name