button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  fca()
  her(54)

  maxwir(320)
  wi(100%)

  padding 0 r(15) r(3)
  &:hover {}

.btn-center
  mc(0)

.btn-text-center
  justify-content center