button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  display flex
  justify-content center
  align-items center

  he(54)
  max-width r(320)
  width 100%
  pb(3)
  &:hover {}