


button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  display block
  max-width 320px
  width 100%
  text-align center
  bg(blue)
  co($wt)
  padding r(12) r(15) r(13)
  mb(r(15))
  &:hover
    co($wt)
    bg(lightblue)

.btn-center
  mc()