textarea
  -webkit-appearance none
  resize none
  mb(20)
  border r(1) solid $gr2
  border-radius: 0;
  width 100%
  height r(100)
  padding r(11) r(15) r(12)
  trans()
  &:focus
    outline none
    border-color blue
  +placeholder()
    co(#999)