mixin video(attributes)
  -
    const videoId = attributes.videoId || "";
    const color = attributes.previewColor || "red";
    const linkText = attributes.linkText || "red";

  .video-player(class= "video-player--" + color)
    .video-player__lazyframe(
      data-vendor="youtube"
      data-src="https://www.youtube.com/embed/" + videoId + "?autoplay=1")

    a.video-player__link(href="https://www.youtube.com/watch?v=" + videoId target="_blank")
      | #{linkText}
