$loader-size-lg = 60px
$loader-size-md = 48px
$loader-size-sm = 30px
$loader-size-xs = 18px

.loader
	position fixed
	top 50%
	left 50%
	z-index $zindex-100
	display none
	margin -30px 0 0 -30px
	width $loader-size-lg
	height $loader-size-lg
	font-size 0
	animation rotation 900ms cubic-bezier(0.4, 0, 0.2, 1) infinite both

.loader--lg
	width $loader-size-lg
	height $loader-size-lg

.loader--md
	width $loader-size-md
	height $loader-size-md

.loader--sm
	width $loader-size-sm
	height $loader-size-sm

.loader--xs
	width $loader-size-xs
	height $loader-size-xs

@keyframes rotation
	from
		transform rotate(0deg)

	to
		transform rotate(360deg)
