/* Proxima Nova */

/* normal */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
/* italic */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
html {
	font-size: 16px;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	color: #000;
	background-color: #fff;
	font-family: 'Proxima Nova', sans-serif;
}
::-moz-selection {
	background-color: #000;
	color: #fff;
}
::selection {
	background-color: #000;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite {
	font-family: 'Proxima Nova', sans-serif;
	color: #000;
}
h1 {
	font-size: 2.125em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}
h2 {
	font-size: 1.875em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.6875rem;
}
h3 {
	font-size: 1.625em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2rem;
}
h4 {
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.375rem;
}
h5 {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.75rem;
}
h6 {
	font-size: .875em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 3.125rem;
}
p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.57;
	margin-bottom: 1rem;
}
hr {
	border: 0;
	height: 1px;
	background-color: #000;
	margin: .9375rem 0;
}
nav {
	background-color: #fff;
	padding: .625rem 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.menu li {
	margin: 0 .9375rem;
}
.menu li:last-child {
	margin-right: 0;
}
.menu li a {
	display: block;
	color: #add8e6;
}
.menu li a:hover, .menu li a.active {
	color: #00f;
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.nav-icon {
	width: 30px;
	height: 22px;
	position: relative;
	margin: .875rem 0;
	cursor: pointer;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #000;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
section {
	padding-top: 0;
	padding-bottom: 0;
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
button:focus {
	outline: none;
}
.btn {
	display: block;
	max-width: 320px;
	width: 100%;
	text-align: center;
	background-color: #00f;
	color: #fff;
	padding: .75rem .9375rem .8125rem;
	margin-bottom: .9375rem;
}
.btn:hover {
	color: #fff;
	background-color: #add8e6;
}
.btn-center {
	margin-left: auto;
	margin-right: auto;
}
.img-responsive {
	width: 100%;
}
a {
	text-decoration: none;
	font-family: 'Proxima Nova', sans-serif;
	color: #00f;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a svg g {
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a:hover {
	text-decoration: none;
	color: #add8e6;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	max-width: 50px;
}
.link-logo img {
	width: 100%;
}
ul li {
	list-style: none;
}
ul li ul {
	margin-right: .9375rem;
	margin-left: 1.25rem;
}
ul, ol {
	padding: 0;
	margin: 0;
}
ul li, ol li {
	font-family: 'Proxima Nova', sans-serif;
}
ol {
	margin-left: 1.25rem;
}
ol li ol {
	margin-top: .9375rem;
}
.ul-regular li {
	position: relative;
	padding-left: 1.25rem;
	margin-bottom: 1.25rem;
}
.ul-regular li:before {
	width: 8px;
	height: 1px;
	background-color: #000;
	top: 10px;
	left: 0;
}
input {
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: .6875rem .9375rem .75rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #999 !important;
}
input:focus {
	outline: none;
	border-color: #00f;
}
input:-moz-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
input[type=reset] {
	border: 0;
	cursor: pointer;
}
label {
	padding-left: 1rem;
	font-weight: 700;
	font-size: 1em;
	margin-bottom: .8125rem;
}
textarea {
	-webkit-appearance: none;
	resize: none;
	margin-bottom: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 0;
	width: 100%;
	height: 100px;
	padding: .6875rem .9375rem .75rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
textarea:focus {
	outline: none;
	border-color: #00f;
}
textarea:-moz-placeholder {
	color: #999;
}
textarea::-moz-placeholder {
	color: #999;
}
textarea:-ms-input-placeholder {
	color: #999;
}
textarea::-webkit-input-placeholder {
	color: #999;
}
.input-group {
	position: relative;
	margin-bottom: 1.25rem;
}
.input-group input {
	margin-bottom: 0;
	padding-left: 2.8125rem;
}
.input-group input:focus + span {
	color: #00f;
}
.input-group textarea {
	padding-left: 2.8125rem;
	margin-bottom: 0;
}
.input-group textarea + span {
	height: 45px;
}
.input-group textarea:focus + span {
	color: #00f;
}
.input-group select {
	padding-left: 2.8125rem;
	margin-bottom: 0;
}
.input-group span {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 45px;
	height: 100%;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
select {
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: .75rem .9375rem .8125rem;
	border-radius: 0;
	display: block;
	margin-bottom: 1.25rem;
	-webkit-appearance: none;
	   -moz-appearance: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
select:focus {
	outline: none;
	border: 1px solid #00f;
}
.select-group {
	position: relative;
	margin-bottom: 1.25rem;
}
.select-group:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	top: calc(50% - 2px);
	right: 15px;
}
.select-group-noarrow:after {
	display: none;
}
.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1rem;
}
.tabs li a {
	cursor: pointer;
	padding: .75rem .9375rem .8125rem;
	color: #000;
	display: block;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.tabs li a:hover {
	color: #fff;
	background-color: #add8e6;
}
.tabs li a.active {
	color: #fff;
	background-color: #00f;
}
.tabs-content {
	display: none;
	padding: .625rem .9375rem;
	-webkit-animation: fadeEffect 1s;
	        animation: fadeEffect 1s;
}
.tabs-content.active {
	display: block;
}
@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: .3125rem;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}