#preloader-load {
	display: block;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #add8e6 url('../img/icons/grid.svg') center center no-repeat;
	background-size: 25px;
}
/* Proxima Nova */

/* normal */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
/* italic */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
html {
	font-size: 16px;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	color: #000;
	font-family: 'Proxima Nova', sans-serif;
	background: #fff;
}
.text-justify {
	text-align: justify !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
@media (min-width: 576px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
}
@media (min-width: 768px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-right {
		text-align: right !important;
	}
	.text-md-center {
		text-align: center !important;
	}
}
@media (min-width: 992px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
}
@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left !important;
	}
	.text-xl-right {
		text-align: right !important;
	}
	.text-xl-center {
		text-align: center !important;
	}
}
::-moz-selection {
	background: #000;
	color: #fff;
}
::selection {
	background: #000;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite {
	font-family: 'Proxima Nova', sans-serif;
	color: #000;
}
h1 {
	font-size: 2.125em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}
h2 {
	font-size: 1.875em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1.688rem;
}
h3 {
	font-size: 1.625em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2rem;
}
h4 {
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.375rem;
}
h5 {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.75rem;
}
h6 {
	font-size: .875em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 3.125rem;
}
p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.57;
	margin-bottom: 1rem;
}
.paragraph-lead {
	font-size: 1.25em;
}
.paragraph-small {
	font-size: .875em;
}
hr {
	border: 0;
	height: 1px;
	background: #000;
	margin: .938rem 0;
}
blockquote {
	padding: .938rem;
	position: relative;
}
blockquote:before, blockquote:after {
	position: absolute;
	display: block;
	line-height: 1;
}
blockquote:before {
	content: open-quote;
	left: 0;
	top: 0;
}
blockquote:after {
	content: close-quote;
	right: 0;
	bottom: 0;
}
cite {
	font-size: 1em;
	font-style: italic;
	color: #a9a9a9;
}
nav {
	background: #fff;
	padding: .625rem 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.menu li {
	margin: 0 .938rem;
}
.menu li:last-child {
	margin-right: 0;
}
.menu li a {
	display: block;
	color: #add8e6;
}
.menu li a:hover {
	color: #00f;
}
.menu li .active {
	color: #00f;
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.nav-icon {
	width: 30px;
	height: 22px;
	position: relative;
	margin: .875rem 0;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: .938rem;
}
.breadcrumbs li {
	position: relative;
	padding-right: .938rem;
	margin-right: .938rem;
}
.breadcrumbs li:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: #000;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
	        transform: rotate(25deg);
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs li a {
	display: inline-block;
	color: #000;
}
.breadcrumbs li a:hover {
	color: #add8e6;
}
.breadcrumbs li .active {
	cursor: default;
	pointer-events: none;
	color: #00f;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.pagination li {
	margin: 0 .938rem;
}
.pagination li a {
	display: inline-block;
	color: #000;
	font-size: 1.125em;
}
.pagination li a:hover {
	color: #add8e6;
}
.pagination li .arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.pagination li .active {
	color: #00f;
	cursor: default;
	pointer-events: none;
}
a {
	text-decoration: none;
	font-family: 'Proxima Nova', sans-serif;
	color: #00f;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a:hover {
	text-decoration: none;
	color: #add8e6;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	max-width: 50px;
}
.link-logo img {
	width: 100%;
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
button:focus {
	outline: none;
}
.btn {
	display: block;
	max-width: 320px;
	width: 100%;
	text-align: center;
	background: #00f;
	color: #fff;
	padding: .75rem .938rem .813rem;
	margin-bottom: .938rem;
}
.btn:hover {
	color: #fff;
	background: #add8e6;
}
.btn-center {
	margin-left: auto;
	margin-right: auto;
}
ul li {
	list-style: none;
}
ul li ul {
	margin-top: .938rem;
	margin-left: 1.25rem;
}
ul, ol {
	padding: 0;
	margin: 0;
}
ul li, ol li {
	font-family: 'Proxima Nova', sans-serif;
}
ol {
	margin-left: 1.25rem;
}
ol li ol {
	margin-top: .938rem;
}
.ul-regular li {
	position: relative;
	padding-left: 1.25rem;
	margin-bottom: 1.25rem;
}
.ul-regular li:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background: #000;
	top: 10px;
	left: 0;
}
.img-responsive {
	width: 100%;
}
table, tr, th, td {
	border: 1px solid #000;
}
table {
	width: 100%;
	margin-bottom: .938rem;
}
table caption {
	caption-side: top;
	text-align: right;
}
table th {
	padding: .313rem;
}
table td {
	padding: .313rem;
}
.map {
	width: 100%;
	height: 450px;
}
#map {
	width: 100%;
	height: 450px;
	margin-bottom: 1.875rem;
}
audio {
	width: 100%;
	margin-bottom: .938rem;
}
video {
	width: 100%;
	height: 320px;
	margin-bottom: .938rem;
}
.video-youtube {
	width: 100%;
	height: 320px;
	margin-bottom: .938rem;
}
.slick-loading .slick-list {
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick/slick.eot');
	src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
.slider {
	padding-bottom: 1.875rem;
}
.slider .arrow {
	position: absolute;
	z-index: 100;
	height: 50px;
	width: 50px;
	top: calc(50% - 25px);
	cursor: pointer;
	font-size: 3.125em;
	color: #a9a9a9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.slider .arrow:hover {
	color: #00f;
}
.slider .arrow.left {
	left: -50px;
}
.slider .arrow.right {
	right: -50px;
}
.slider .slide {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 350px;
	overflow: hidden;
}
.slider .slide:focus {
	outline: none;
}
.slider .slick-dots {
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.slider .slick-dots li {
	width: auto;
	height: auto;
	margin: 0 .188rem;
}
.slider .slick-dots li button {
	padding: 0;
	border-radius: 50%;
	background: #ccc;
	width: 10px;
	height: 10px;
	font-size: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.slider .slick-dots li button:before {
	display: none;
}
.slider .slick-dots li button:hover {
	background: #00f;
}
.slider .slick-dots .slick-active button {
	background: #00f;
}
.slider-counter {
	font-size: 3em;
	margin-bottom: 1rem;
	text-align: right;
}
.slider.slick-dotted.slick-slider {
	margin-bottom: 1.875rem;
}
.slider-two, .slider-three {
	margin: 0 -.938em;
}
.slider-two .slide, .slider-three .slide {
	margin: 0 .938rem;
	overflow: hidden;
}
.fancybox-slide > div {
	width: 100%;
	max-width: 1170px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.fancybox-slide > div {
		max-width: 960px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div {
		max-width: 720px;
	}
}
@media (max-width: 568px) {
	.fancybox-slide > div {
		max-width: 540px;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div {
		max-width: calc(100% - 30px);
	}
}
.fancybox-close-small:hover:after {
	background: transparent;
	color: #add8e6;
}
.fancybox-close-small:focus:after {
	outline: none;
}
.fancybox-close-small:after {
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	color: #00f;
}
.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1rem;
}
.tabs li a {
	cursor: pointer;
	padding: .75rem .938rem .813rem;
	color: #000;
	display: block;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.tabs li a:hover {
	color: #fff;
	background: #add8e6;
}
.tabs li a.active {
	color: #fff;
	background: #00f;
}
.tabs-content {
	display: none;
	padding: .625rem .938rem;
	-webkit-animation: fadeEffect 1s;
	        animation: fadeEffect 1s;
}
.tabs-content.active {
	display: block;
}
@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.accordion--heading {
	background: #fff;
	color: #000;
	cursor: pointer;
	padding: .75rem .938rem .813rem;
	font-size: 1em;
	margin: 0;
	position: relative;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.accordion--heading:focus {
	outline: none;
}
.accordion--heading:hover {
	background: #add8e6;
	color: #fff;
}
.accordion--heading:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	top: calc(50% - 2px);
	right: 15px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.accordion--heading.active {
	background: #00f;
	color: #fff;
}
.accordion--heading.active:after {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.accordion--panel {
	display: none;
	padding: .75rem .938rem .813rem;
}
input {
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: .688rem .938rem .75rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #999 !important;
}
input:focus {
	outline: none;
	border-color: #00f;
}
input:-moz-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
input[type=reset] {
	border: 0;
	cursor: pointer;
}
label {
	padding-left: 1rem;
	font-weight: 700;
	font-size: 1em;
	margin-bottom: .813rem;
}
textarea {
	-webkit-appearance: none;
	resize: none;
	margin-bottom: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 0;
	width: 100%;
	height: 100px;
	padding: .688rem .938rem .75rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
textarea:focus {
	outline: none;
	border-color: #00f;
}
textarea:-moz-placeholder {
	color: #999;
}
textarea::-moz-placeholder {
	color: #999;
}
textarea:-ms-input-placeholder {
	color: #999;
}
textarea::-webkit-input-placeholder {
	color: #999;
}
.input-group {
	position: relative;
	margin-bottom: 1.25rem;
}
.input-group input {
	margin-bottom: 0;
	padding-left: 45px;
}
.input-group input:focus + span {
	color: #00f;
}
.input-group textarea {
	padding-left: 45px;
	margin-bottom: 0;
}
.input-group textarea + span {
	height: 45px;
}
.input-group textarea:focus + span {
	color: #00f;
}
.input-group select {
	padding-left: 45px;
	margin-bottom: 0;
}
.input-group span {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 45px;
	height: 100%;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.radio-check {
	margin-bottom: .938rem;
	margin-right: .938rem;
	position: relative;
	padding: 0;
}
.radio-check input {
	position: absolute;
	opacity: 0;
}
.radio-check input + span {
	position: relative;
	padding-left: 2.188rem;
	cursor: pointer;
	font-weight: 400;
}
.radio-check input + span:before, .radio-check input + span:after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	width: 15px;
	height: 15px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.radio-check input + span:before {
	border: 1px solid #ccc;
	opacity: 1;
}
.radio-check input + span:after {
	background: #00f;
	border: 1px solid #00f;
	opacity: 0;
}
.radio-check input[type='radio'] + span:after, .radio-check input[type='radio'] + span:before {
	border-radius: 50%;
}
.radio-check input:checked + span:before {
	opacity: 0;
}
.radio-check input:checked + span:after {
	opacity: 1;
}
.radio-check.error span {
	color: #f00;
}
.radio-check.error span:before, .radio-check.error span:after {
	border-color: #f00;
}
.radio-check.error span:after {
	background: #f00;
}
.radio-check.disabled span {
	color: #e5e5e5;
	cursor: default;
}
.radio-check.disabled span:before, .radio-check.disabled span:after {
	border-color: #e5e5e5;
}
.radio-check.success span {
	color: #008000;
}
.radio-check.success span:before, .radio-check.success span:after {
	border-color: #008000;
}
.radio-check.success span:after {
	background: #008000;
}
select {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	padding: .75rem .938rem .813rem;
	border-radius: 0;
	display: block;
	margin-bottom: 1.25rem;
	-webkit-appearance: none;
	   -moz-appearance: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
select:focus {
	outline: none;
	border: 1px solid #00f;
}
.select-group {
	position: relative;
	margin-bottom: 1.25rem;
}
.select-group:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	top: calc(50% - 2px);
	right: 15px;
}
.select-group-noarrow:after {
	display: none;
}
.chosen-rtl .chosen-search input[type='text'], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type='text'], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
	background-image: url('../img/chosen/chosen-sprite.png') !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.chosen-rtl .chosen-search input[type='text'], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type='text'], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
		background-image: url('../img/chosen/chosen-sprite@2x.png') !important;
	}
}
.chosen-container {
	width: 100%;
	margin-bottom: 1.25rem;
}
.chosen-container:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	top: calc(50% - 2px);
	right: 15px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.chosen-container:focus {
	outline: none;
}
.chosen-container .chosen-single {
	padding: 0;
	height: auto;
	border-radius: 0;
	border: 1px solid #ccc;
	background: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.chosen-container .chosen-single span {
	padding: .625rem .938rem .688rem;
	font-size: 1em;
}
.chosen-container .chosen-default span {
	opacity: .5;
}
.chosen-container-single .chosen-search {
	padding: 0 5px;
	margin-bottom: .75rem;
}
.chosen-container-single .chosen-search input[type='text'] {
	font-size: 1em;
	border: 1px solid #ccc;
	padding: .688rem .625rem .75rem;
	background-image: none !important;
}
.chosen-container.chosen-with-drop:after {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.chosen-container.chosen-container-active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container.chosen-container-active .chosen-single {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: 1px solid #00f;
	background: none;
}
.chosen-container-single .chosen-drop {
	border-radius: 0;
	border: 1px solid #00f;
	border-top: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container-single .chosen-drop .chosen-results {
	padding: 0;
	margin: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container-single .chosen-drop .chosen-results .active-result {
	padding: .75rem .938rem .813rem;
	font-size: 1em;
	line-height: normal;
}
.chosen-container-single .chosen-drop .chosen-results .active-result.highlighted {
	background: #00f;
}
.chosen-container-single .chosen-drop .chosen-results .result-selected {
	background: #ccc;
	color: #fff;
}
.chosen-container-single .chosen-single div b {
	display: none;
}
.chosen-container .chosen-results li.no-results {
	background: #fff;
	color: #999;
	font-size: .875em;
	padding: .75rem .625rem .813rem;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #ccc;
	border-radius: 0;
	height: auto;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.select2-container--default .select2-selection--single:focus {
	outline: none;
	border-color: #00f;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
	right: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000;
	font-size: 1em;
	line-height: normal;
	padding: .75rem .938rem .813rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: calc(50% - 15px);
	right: 9px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #000 transparent transparent transparent;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	margin-bottom: 0;
	background: #ccc;
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #00f;
	color: #fff;
}
.select2-container--default .select2-results__option.select2-results__message {
	background: #fff;
	font-size: .875em;
	color: #999;
	padding: .75rem .625rem .813rem;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	font-size: 1em;
	margin-bottom: .75rem;
	border: 1px solid #ccc;
	padding: .688rem .625rem .75rem;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
	border-color: #00f;
	border-bottom-color: transparent;
}
.select2-container--open .select2-dropdown--below {
	border: 1px solid #00f;
	border-top: 0;
	border-radius: 0;
}
.select2-results__option {
	padding: .75rem .938rem .813rem;
	font-size: 1em;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: #000 transparent transparent transparent;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	border-width: 5px 4px 0 4px;
}
.range-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.range-slider input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 25%;
	    flex: 1 1 25%;
	max-width: 25%;
}
.range-slider .nouislider {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	    flex: 1 1 100%;
	max-width: 100%;
}
.range-slider .noUi-target {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background: #ccc;
}
.range-slider .noUi-horizontal {
	height: 10px;
}
.range-slider .noUi-horizontal .noUi-handle {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
	background: #00f;
	border-radius: 0;
}
.range-slider .noUi-horizontal .noUi-handle:focus {
	outline: none;
}
.range-slider .noUi-horizontal .noUi-handle:before, .range-slider .noUi-horizontal .noUi-handle:after {
	display: none;
}
.range-slider .noUi-base {
	width: calc(100% - 30px);
	margin: 0 .938rem;
}
.range-slider .noUi-connect {
	background: #add8e6;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.range-slider .noUi-horizontal .noUi-handle {
	width: 34px;
	height: 22px;
}
.flatpickr-calendar {
	border-radius: 0;
	border: 1px solid #a9a9a9;
	-webkit-box-shadow: none;
	        box-shadow: none;
	font-size: 1em;
}
.flatpickr-input.active {
	border-color: #00f;
}
.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after, .flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
	display: none;
}
.flatpickr-prev-month svg path, .flatpickr-next-month svg path {
	fill: #00f;
}
.flatpickr-month {
	height: 40px;
}
.flatpickr-current-month span.cur-month {
	color: #000;
}
.flatpickr-current-month input.cur-year {
	font-weight: 400;
}
span.flatpickr-weekday {
	color: #a9a9a9;
}
.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
	color: #a9a9a9;
	opacity: .5;
}
.flatpickr-day {
	border-radius: 0;
}
.flatpickr-day:hover {
	background: #add8e6;
	border-color: #add8e6;
}
.flatpickr-day.today {
	border-color: #00f;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
	background: #00f;
	border-color: #00f;
}
input[disabled], textarea[disabled] {
	background: #e5e5e5;
	border-color: #e5e5e5;
}
input[disabled]:-moz-placeholder, textarea[disabled]:-moz-placeholder {
	opacity: .5;
}
input[disabled]::-moz-placeholder, textarea[disabled]::-moz-placeholder {
	opacity: .5;
}
input[disabled]:-ms-input-placeholder, textarea[disabled]:-ms-input-placeholder {
	opacity: .5;
}
input[disabled]::-webkit-input-placeholder, textarea[disabled]::-webkit-input-placeholder {
	opacity: .5;
}
input.error, textarea.error {
	color: #f00;
	border-color: #f00;
}
input.error:-moz-placeholder, textarea.error:-moz-placeholder {
	color: #f00;
	opacity: .5;
}
input.error::-moz-placeholder, textarea.error::-moz-placeholder {
	color: #f00;
	opacity: .5;
}
input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
	color: #f00;
	opacity: .5;
}
input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
	color: #f00;
	opacity: .5;
}
input.success, textarea.success {
	color: #008000;
	border-color: #008000;
}
input.success:-moz-placeholder, textarea.success:-moz-placeholder {
	color: #008000;
	opacity: .5;
}
input.success::-moz-placeholder, textarea.success::-moz-placeholder {
	color: #008000;
	opacity: .5;
}
input.success:-ms-input-placeholder, textarea.success:-ms-input-placeholder {
	color: #008000;
	opacity: .5;
}
input.success::-webkit-input-placeholder, textarea.success::-webkit-input-placeholder {
	color: #008000;
	opacity: .5;
}
.input-group.error input, .input-group.error select, .input-group.error textarea {
	color: #f00;
	border-color: #f00;
}
.input-group.error input:-moz-placeholder, .input-group.error select:-moz-placeholder, .input-group.error textarea:-moz-placeholder {
	color: #f9d3cf;
}
.input-group.error input::-moz-placeholder, .input-group.error select::-moz-placeholder, .input-group.error textarea::-moz-placeholder {
	color: #f9d3cf;
}
.input-group.error input:-ms-input-placeholder, .input-group.error select:-ms-input-placeholder, .input-group.error textarea:-ms-input-placeholder {
	color: #f9d3cf;
}
.input-group.error input::-webkit-input-placeholder, .input-group.error select::-webkit-input-placeholder, .input-group.error textarea::-webkit-input-placeholder {
	color: #f9d3cf;
}
.input-group.error input:focus + span, .input-group.error select:focus + span, .input-group.error textarea:focus + span {
	color: #f00;
}
.input-group.error span {
	color: #f00;
}
.input-group.success input, .input-group.success textarea {
	color: #008000;
	border-color: #008000;
}
.input-group.success input:-moz-placeholder, .input-group.success textarea:-moz-placeholder {
	color: #008000;
	opacity: .5;
}
.input-group.success input::-moz-placeholder, .input-group.success textarea::-moz-placeholder {
	color: #008000;
	opacity: .5;
}
.input-group.success input:-ms-input-placeholder, .input-group.success textarea:-ms-input-placeholder {
	color: #008000;
	opacity: .5;
}
.input-group.success input::-webkit-input-placeholder, .input-group.success textarea::-webkit-input-placeholder {
	color: #008000;
	opacity: .5;
}
.input-group.success input:focus + span, .input-group.success textarea:focus + span {
	color: #008000;
}
.input-group.success span {
	color: #008000;
}
.input-group.disabled input, .input-group.disabled textarea {
	background: #e5e5e5;
	border-color: #e5e5e5;
}
.input-group.disabled input:-moz-placeholder, .input-group.disabled textarea:-moz-placeholder {
	opacity: .5;
}
.input-group.disabled input::-moz-placeholder, .input-group.disabled textarea::-moz-placeholder {
	opacity: .5;
}
.input-group.disabled input:-ms-input-placeholder, .input-group.disabled textarea:-ms-input-placeholder {
	opacity: .5;
}
.input-group.disabled input::-webkit-input-placeholder, .input-group.disabled textarea::-webkit-input-placeholder {
	opacity: .5;
}
.input-group.disabled span {
	color: #999;
}
.select-group.error select {
	border-color: #f00;
	color: #f00;
}
.select-group.error:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f00;
}
.select-group.success select {
	border-color: #008000;
	color: #008000;
}
.select-group.success:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #008000;
}
.select-group.disabled select {
	background: #e5e5e5;
	border-color: #e5e5e5;
	color: rgba(153,153,153,.5);
}
.select-group.disabled:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #999;
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: .313rem;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}