.input-group
  position relative
  mb(20)
  input
    mb(0)
    pl(45)
    &:focus + span
      co(blue)
  textarea
    pl(45)
    mb(0)
    & + span
      height r(45)
    &:focus + span
      co(blue)
  select
    pl(45)
    mb(0)
  span
    position absolute
    top 0
    left 0
    display flex
    justify-content center
    align-items center
    width r(45)
    height 100%
    trans()