.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: url("../img/chosen/chosen-sprite.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../img/chosen/chosen-sprite@2x.png") !important;
  }
}

.chosen-container
  width 100%
  margin-bottom $r20
  &:after
    triangle($black, down, 4px)
    top calc(50% - 2px)
    right 15px
    trans()
  &:focus
    outline none
  .chosen-single
    padding 0
    height auto
    border-radius 0
    border 1px solid #ccc
    background $white
    box-shadow none
    trans()
    span
      padding $r10 $r15 $r11
      font-size $e16
  .chosen-default
    span
      opacity .5

.chosen-container-single
  .chosen-search
    padding 0 5px
    margin-bottom $r12
    input[type='text']
      font-size $e16
      border 1px solid #ccc
      padding $r11 $r10 $r12
      background-image none !important

.chosen-container.chosen-with-drop
  &:after
    transform rotate(180deg)

.chosen-container.chosen-container-active
  box-shadow none
  .chosen-single
    box-shadow none
    border 1px solid blue
    background none

.chosen-container-single .chosen-drop
  border-radius 0
  border 1px solid blue
  border-top 0
  padding 0
  box-shadow none
  .chosen-results
    padding 0
    margin 0
    box-shadow none
    .active-result
      padding $r12 $r15 $r13
      font-size $e16
      line-height normal
    .active-result.highlighted
      background blue
    .result-selected
      background #ccc
      color $white

.chosen-container-single .chosen-single div b
  display none

.chosen-container
  .chosen-results
    li.no-results
      background $white
      color #999
      font-size $e14
      padding $r12 $r10 $r13