@import '../../utilities/vars'
@import '../../utilities/mixins'

select
  width 100%
  background $white
  border 1px solid #ccc
  padding $r12 $r15 $r13
  border-radius 0
  display block
  margin-bottom $r20
  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none
    border 1px solid blue

.select-group
  position relative
  margin-bottom $r20
  &:after
    triangle($black, down, 4px)
    top calc(50% - 2px)
    right 15px

.select-group-noarrow
  &:after
    display none