blockquote
  position relative
  fs(16)
  &:before, &:after
    position absolute
    display block
    line-height 1
  &:before
    content open-quote
    left 0
    top 0
  &:after
    content close-quote
    right 0
    bottom 0