mixin social-links()
    ul.social-links
        +li-a('','')
            +icon-instagram()
        +li-a('','')
            +icon-facebook-sq()
        +li-a('','')
            +icon-youtube()
        +li-a('','')
            +icon-soundcloud()