mixin section-title(mods, el)
	- var modifier = ''
	- var element = el || 'div';

	if (mods)
		if (mods.constructor === Array)
			each mod in mods
				- modifier += ' section-title--'+mod
		else
			- modifier = 'section-title--'+mods
	#{element}.section-title(class=modifier)
		block
