.grid-row
  display grid
  grid-template-columns repeat(12, 1fr)
  grid-column-gap: 30px
  margin 0 -15px
  //justify-items: center
  align-content: center;
  //grid-template-rows 40px 100px 40px

.grid-col-3
  grid-column span 3
  background red

.grid-col-6
  grid-column span 6
  background blue
  order 2


.grid-col-4
  grid-column span 4
  background green


.grid-col-8
  grid-column span 8
  background yellow
