include ../../../modules/layout/page-section/page-section

mixin integrations-teasers()
  +page-section("feature-teasers")
    a(href="" target="blank").feature-teaser.feature-teaser--pdffiller-itegrations
      +section-title()
        | Plays nice with the services you already&nbsp;use

      span.feature-teaser__action
        | Learn more about Integrations

      .feature-teaser-icon.feature-teaser-icon--dropbox
        svg(xmlns='http://www.w3.org/2000/svg', width='55', height='47', viewBox='0 0 55 47')
          path(fill='#0061FF', fill-rule='nonzero', d='M13.75 0L27.5 8.813 13.75 17.624 0 8.812 13.75 0zm27.5 0L55 8.813l-13.75 8.812-13.749-8.813L41.251 0zM0 26.438l13.75-8.813L27.5 26.438 13.75 35.25 0 26.437zm41.25-8.813L55 26.438 41.25 35.25l-13.749-8.813 13.75-8.812zm-27.5 20.563L27.5 29.374l13.75 8.813L27.5 47 13.75 38.187z')

      .feature-teaser-icon.feature-teaser-icon--slack
        svg(xmlns='http://www.w3.org/2000/svg', width='47', height='48', viewBox='0 0 47 48')
          g(fill='none', fill-rule='nonzero')
            path(fill='#36C5F0', d='M17.157.116c-2.585 0-4.68 2.11-4.68 4.71a4.716 4.716 0 0 0 1.37 3.328 4.673 4.673 0 0 0 3.31 1.381h4.68V4.826c.001-2.599-2.094-4.707-4.68-4.71m0 12.56H4.679C2.095 12.675 0 14.783 0 17.385c0 2.6 2.095 4.709 4.679 4.709h12.478c2.584 0 4.68-2.109 4.68-4.71s-2.096-4.71-4.68-4.71')
            path(fill='#2EB67D', d='M46.792 17.385c0-2.601-2.096-4.71-4.68-4.71-2.584 0-4.679 2.109-4.679 4.71v4.71h4.679c2.587-.003 4.682-2.111 4.68-4.71m-12.478 0V4.826c.002-2.599-2.093-4.707-4.68-4.71-2.584 0-4.679 2.11-4.679 4.71v12.559c0 2.602 2.095 4.71 4.68 4.71 2.586-.002 4.681-2.11 4.679-4.709')
            path(fill='#ECB22E', d='M29.634 47.213c2.587-.002 4.682-2.11 4.68-4.71.002-2.598-2.093-4.706-4.68-4.709h-4.679v4.71c0 2.6 2.095 4.71 4.68 4.71m0-12.56h12.478c2.583 0 4.679-2.108 4.679-4.71.002-2.598-2.093-4.707-4.68-4.71H29.634c-2.584 0-4.679 2.11-4.679 4.71a4.716 4.716 0 0 0 1.369 3.328 4.673 4.673 0 0 0 3.31 1.382')
            path(fill='#E01E5A', d='M0 29.944a4.716 4.716 0 0 0 1.368 3.328 4.673 4.673 0 0 0 3.31 1.382c2.588-.003 4.683-2.111 4.68-4.71v-4.71h-4.68c-2.583 0-4.678 2.11-4.678 4.71m12.478 0v12.559c0 2.601 2.094 4.71 4.679 4.71 2.586-.002 4.681-2.11 4.68-4.71V29.945a4.716 4.716 0 0 0-1.37-3.328 4.673 4.673 0 0 0-3.31-1.381c-2.585 0-4.68 2.108-4.68 4.71')

      .feature-teaser-icon.feature-teaser-icon--g-mail
        svg(xmlns='http://www.w3.org/2000/svg', width='33', height='24', viewBox='0 0 33 24')
          defs
            lineargradient#a(x1='-.003%', y1='50.001%', y2='50.001%')
              stop(offset='0%', stop-color='#C8C8C8')
              stop(offset='100%', stop-color='#CDCDCD')
            lineargradient#b(x1='-.002%', y1='50%', y2='50%')
              stop(offset='0%', stop-color='#D9D9D9')
              stop(offset='100%', stop-color='#E2E2E2')
          g(fill='none', fill-rule='evenodd')
            path(fill='#EAEAEA', d='M30.938 24H2.063C.923 24 0 23.105 0 22V2C0 .895.923 0 2.063 0h28.875C32.077 0 33 .895 33 2v20c0 1.105-.923 2-2.063 2z')
            path(fill='#D54C3F', d='M4.125 24H2.062C.923 24 0 23.105 0 22V2C0 .895.923 0 2.063 0c1.139 0 2.062.895 2.062 2v22z')
            path(fill='#B63524', d='M28.875 24h2.063C32.077 24 33 23.105 33 22V2c0-1.105-.923-2-2.063-2-1.139 0-2.062.895-2.062 2v22z')
            path(fill='#DE5145', d='M32.119 3.64C32.65 3.278 33 2.679 33 2c0-1.105-.923-2-2.063-2a2.1 2.1 0 0 0-1.18.36L16.5 9.718H16.5L3.244.36A2.1 2.1 0 0 0 2.062 0C.923 0 0 .895 0 2c0 .679.349 1.278.881 1.64L.826 3.6 16.5 14.668M32.174 3.6L16.5 14.668')
            path(fill='#EFEFEF', d='M30.938 0a2.1 2.1 0 0 0-1.182.36L16.501 9.718H16.5L3.244.36A2.1 2.1 0 0 0 2.062 0h28.875z')
            path(fill='#C64132', d='M4.126 6.792L.65 3.453l-.002.003c.073.067.15.128.233.184L.826 3.6l3.3 2.33v.886')
            path(fill='#E3E3E3', d='M14.21 16.394L4.124 24V6.709l10.082 9.682')
            path(fill='url(#a)', d='M14.21 16.394l2.29-1.727L4.126 5.93v.778l10.081 9.682z')
            path(fill='url(#b)', d='M22.042 24h6.833V5.93L16.5 14.667l-2.293 1.724z')

      .feature-teaser-icon.feature-teaser-icon--dynamics
        svg(xmlns='http://www.w3.org/2000/svg', width='23', height='38', viewBox='0 0 23 38')
          path(fill='#002050', fill-rule='nonzero', d='M0 37.691V11.875l7.272 4.798L0 37.69zm23-12.7L0 37.988l23-24.925V24.99zM0 .024l21.986 11.768-6.977 5.712L0 10.094V.024z')

      .feature-teaser-icon.feature-teaser-icon--salesforce
        svg(xmlns='http://www.w3.org/2000/svg', width='112', height='78', viewBox='0 0 112 78')
          g(fill='none', fill-rule='nonzero')
            path(fill='#00A1E0', d='M46.61 8.529c3.618-3.729 8.658-6.086 14.215-6.086 7.409 0 13.827 4.114 17.273 10.2 2.973-1.329 6.29-2.057 9.779-2.057C101.23 10.586 112 21.429 112 34.8c0 13.371-10.812 24.214-24.123 24.214-1.637 0-3.23-.171-4.739-.471a17.68 17.68 0 0 1-15.421 9c-2.757 0-5.385-.643-7.71-1.757C56.946 72.943 49.796 78 41.482 78a20.155 20.155 0 0 1-18.91-13.114c-1.25.257-2.542.385-3.835.385C8.4 65.271.043 56.871.043 46.457a18.815 18.815 0 0 1 9.348-16.286 21.134 21.134 0 0 1-1.81-8.614C7.539 9.686 17.318 0 29.293 0A21.746 21.746 0 0 1 46.61 8.529')
            path(fill='#FFF', d='M16.24 40.457l.474-1.243c.086-.214.215-.128.301-.085.13.085.216.128.388.257 1.335.857 2.585.857 2.972.857.991 0 1.637-.514 1.637-1.243v-.043c0-.771-.947-1.071-2.067-1.414l-.259-.086c-1.508-.428-3.144-1.071-3.144-2.957v-.043c0-1.8 1.464-3.086 3.575-3.086h.215c1.25 0 2.413.343 3.274.9.086.043.172.129.13.258-.044.128-.431 1.114-.474 1.242-.087.215-.302.086-.302.086-.775-.428-1.938-.728-2.93-.728-.904 0-1.464.471-1.464 1.114v.043c0 .728.99 1.071 2.11 1.414l.216.043c1.508.471 3.102 1.114 3.102 2.957v.043c0 1.971-1.422 3.171-3.705 3.171-1.12 0-2.197-.171-3.36-.771-.215-.129-.43-.214-.646-.386-.043-.086-.13-.128-.043-.3zm33.6 0l.474-1.243c.086-.214.258-.128.301-.085.13.085.216.128.388.257 1.335.857 2.585.857 2.972.857.991 0 1.637-.514 1.637-1.243v-.043c0-.771-.947-1.071-2.067-1.414l-.259-.086c-1.508-.428-3.144-1.071-3.144-2.957v-.043c0-1.8 1.464-3.086 3.575-3.086h.215c1.25 0 2.413.343 3.274.9.086.043.172.129.13.258-.044.128-.431 1.114-.474 1.242-.087.215-.302.086-.302.086-.775-.428-1.938-.728-2.93-.728-.904 0-1.464.471-1.464 1.114v.043c0 .728.99 1.071 2.11 1.414l.216.043c1.508.471 3.102 1.114 3.102 2.957v.043c0 1.971-1.422 3.171-3.705 3.171-1.12 0-2.197-.171-3.36-.771-.215-.129-.43-.214-.646-.386 0-.086-.086-.128-.043-.3zm24.898-5.871c.173.643.302 1.328.302 2.057 0 .728-.086 1.414-.302 2.057a4.414 4.414 0 0 1-.861 1.671 4.159 4.159 0 0 1-1.465 1.115c-.603.257-1.292.385-2.067.385-.776 0-1.465-.128-2.068-.385a3.806 3.806 0 0 1-1.465-1.115 4.414 4.414 0 0 1-.861-1.671c-.173-.643-.302-1.329-.302-2.057 0-.729.086-1.414.302-2.057.172-.643.474-1.2.861-1.672a4.159 4.159 0 0 1 1.465-1.114 5.228 5.228 0 0 1 2.068-.429c.775 0 1.464.129 2.067.429a3.806 3.806 0 0 1 1.465 1.114c.388.472.69 1.029.861 1.672zM72.8 36.6c0-1.114-.215-1.971-.603-2.571-.388-.6-1.034-.9-1.852-.9-.862 0-1.465.3-1.853.9-.387.6-.603 1.457-.603 2.571s.216 1.971.603 2.614c.388.6.991.9 1.853.9.861 0 1.464-.3 1.852-.9.43-.6.603-1.5.603-2.614zm17.705 3.214l.473 1.286c.044.171-.086.214-.086.214-.732.3-1.723.472-2.714.472-1.68 0-2.929-.472-3.79-1.415-.862-.942-1.293-2.228-1.293-3.814 0-.728.087-1.414.302-2.057s.517-1.2.948-1.671c.43-.472.947-.858 1.55-1.115a5.503 5.503 0 0 1 2.154-.428c.56 0 1.034.043 1.422.085.43.086 1.034.215 1.292.343.043 0 .172.086.13.215a21.08 21.08 0 0 1-.475 1.285c-.086.215-.215.129-.215.129-.646-.214-1.25-.3-2.025-.3-.947 0-1.68.3-2.11.943-.474.6-.733 1.414-.733 2.528 0 1.2.302 2.057.819 2.615.517.557 1.25.814 2.197.814.387 0 .732-.043 1.034-.086a3.59 3.59 0 0 0 .904-.257c-.043.086.13.043.216.214zm9.778-5.614c.43 1.457.215 2.7.172 2.786 0 .171-.172.171-.172.171h-6.505c.044.986.259 1.672.776 2.143.474.471 1.206.771 2.24.771 1.55 0 2.197-.3 2.67-.471 0 0 .173-.043.26.129l.43 1.2c.086.214 0 .257-.043.3-.388.214-1.379.642-3.274.642-.905 0-1.723-.128-2.37-.385-.645-.257-1.205-.6-1.636-1.072-.431-.471-.733-1.028-.948-1.628-.215-.643-.301-1.329-.301-2.057 0-.729.086-1.415.301-2.058.172-.642.474-1.2.862-1.671a3.956 3.956 0 0 1 1.507-1.114c.603-.3 1.336-.429 2.154-.429.69 0 1.336.129 1.852.386.388.171.819.471 1.25.943.215.171.603.814.775 1.414zm-6.461 1.371h4.609c-.043-.6-.173-1.114-.431-1.542-.388-.6-.948-.943-1.81-.943-.86 0-1.464.343-1.852.943-.258.385-.387.9-.516 1.542zM48.289 34.2c.431 1.457.216 2.7.216 2.786 0 .171-.173.171-.173.171h-6.504c.043.986.258 1.672.775 2.143.474.471 1.206.771 2.24.771 1.55 0 2.197-.3 2.67-.471 0 0 .173-.043.26.129l.43 1.2c.086.214 0 .257-.043.3-.388.214-1.378.642-3.274.642-.904 0-1.723-.128-2.37-.385-.645-.257-1.205-.6-1.636-1.072-.43-.471-.732-1.028-.948-1.628-.215-.643-.301-1.329-.301-2.057 0-.729.086-1.415.301-2.058.173-.642.474-1.2.862-1.671a3.956 3.956 0 0 1 1.508-1.114c.603-.3 1.335-.429 2.153-.429.69 0 1.336.129 1.853.386.387.171.818.471 1.249.943.172.171.603.814.732 1.414zm-6.461 1.371h4.652c-.043-.6-.172-1.114-.43-1.542-.388-.6-.948-.943-1.81-.943-.862 0-1.465.343-1.852.943-.302.385-.431.9-.56 1.542zm-11.416-.342s.517.042 1.077.128V35.1c0-.857-.172-1.286-.517-1.543-.344-.257-.904-.428-1.594-.428 0 0-1.593 0-2.843.642-.043.043-.086.043-.086.043s-.172.043-.215-.085l-.474-1.243c-.086-.172.043-.257.043-.257.603-.472 1.982-.729 1.982-.729.473-.086 1.249-.171 1.723-.171 1.292 0 2.283.3 2.972.9.69.6 1.034 1.542 1.034 2.871v5.914s0 .172-.13.215c0 0-.258.085-.473.128-.216.043-.991.214-1.637.3-.646.129-1.292.172-1.982.172-.646 0-1.206-.043-1.723-.172-.517-.128-.947-.3-1.335-.557a2.906 2.906 0 0 1-.862-1.029c-.215-.385-.301-.9-.301-1.457s.129-1.071.344-1.5c.216-.428.56-.771.948-1.071.388-.3.862-.472 1.335-.643a6.498 6.498 0 0 1 1.594-.214c.517.043.862.043 1.12.043zm-2.584 4.542s.603.472 1.895.386c.948-.043 1.766-.214 1.766-.214v-2.957s-.818-.129-1.766-.129c-1.335 0-1.895.472-1.895.472-.388.257-.56.685-.56 1.242 0 .343.086.643.215.858.043.085.086.171.345.342zM82.75 31.93c-.043.171-.388 1.071-.474 1.371-.043.129-.13.171-.259.171 0 0-.387-.085-.732-.085-.215 0-.56.043-.861.128-.302.086-.56.257-.819.472-.258.214-.43.557-.56.943-.13.385-.215 1.028-.215 1.714v4.8c0 .128-.086.214-.216.214h-1.723c-.129 0-.215-.086-.215-.214V31.8c0-.129.086-.214.172-.214h1.68c.13 0 .173.085.173.214v.771c.258-.342.689-.642 1.076-.814.388-.171.862-.3 1.68-.257.431.043.991.129 1.077.171.173.043.259.086.216.258zM66.769 27.47c.043 0 .173.086.13.215l-.517 1.371c-.044.086-.087.172-.302.086-.043 0-.13-.043-.345-.086-.129-.043-.344-.043-.517-.043-.258 0-.473.043-.689.086-.215.043-.387.171-.56.343a2.143 2.143 0 0 0-.474.686 6.39 6.39 0 0 0-.344 1.457h2.067c.173 0 .216.085.216.214l-.259 1.329c-.043.214-.215.171-.215.171h-2.154l-1.378 8.271c-.173.858-.345 1.586-.56 2.186a4.096 4.096 0 0 1-.862 1.457c-.344.386-.732.686-1.206.815-.43.171-.99.257-1.594.257-.301 0-.603 0-.948-.086a2.479 2.479 0 0 1-.603-.171c-.086-.043-.129-.129-.086-.258.043-.128.431-1.157.474-1.328.086-.172.215-.086.215-.086.13.043.216.086.345.129.172.043.345.043.517.043.302 0 .56-.043.775-.129.259-.086.431-.257.603-.471.173-.215.302-.515.474-.9.13-.386.259-.943.388-1.586l1.465-8.1h-1.422c-.172 0-.215-.086-.215-.214l.258-1.329c.043-.214.216-.171.216-.171h1.464l.086-.429c.216-1.286.646-2.271 1.293-2.914.646-.643 1.593-.986 2.757-.986.344 0 .646.043.904.086.172-.043.388 0 .603.085zM37.735 41.4c0 .129-.086.214-.172.214H35.84c-.13 0-.172-.085-.172-.214V27.643c0-.086.086-.214.172-.214h1.723c.13 0 .172.085.172.214V41.4z')

      .feature-teaser-icon.feature-teaser-icon--drive
        svg(width='38px', height='32px', viewBox='0 0 38 32', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          // Generator: sketchtool 54.1 (76490) - https://sketchapp.com
          title B6A64F84-A76C-427F-B930-060EE2F34AB2
          desc Created with sketchtool.
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(id='Home-Page-ver.2', transform='translate(-681.000000, -2509.000000)', fill-rule='nonzero')
              g(id='integration&API', transform='translate(467.000000, 2120.000000)')
                g#google-drive(transform='translate(214.000000, 389.000000)')
                  polygon#Shape(fill='#4286FB', points='37.7419355 20.9230769 31.4516129 32 6.29032258 32 1.25806452 20.9230769')
                  polygon#Shape(fill='#000000', opacity='0.1', points='6.29032258 32 19.5 32 12.5806452 20.9230769')
                  polygon#Shape(fill='#10A861', points='6.29032258 32 0 20.9230769 12.5806452 0 19.2397717 10.5302734')
                  polygon#Shape(fill='#FED250', points='12.5806452 0 25.1612903 0 37.7419355 20.9230769 25.1612903 20.9230769')

    a(href="#" target="_blank").feature-teaser.feature-teaser--api
      +section-title()
        | Create a custom workflow experience with the PDFfiller&nbsp;API

      span.feature-teaser__action
        | Check out API help center

      .feature-teaser__code