mixin sec-r(className)
    section(class= className)
        +co-r()
            block

mixin sec(className)
    section(class= className)
        .container
            block

mixin co-r()
    .container
        .row
            block
