mixin s-c-r(className)
    section(class= className)
        +c-r()
            block

mixin s-c(className)
    section(class= className)
        .container
            block

mixin c-r()
    .container
        .row
            block
