mixin sec-r(className)
    section(class= className)
        .container
            .row
                block

mixin sec(className)
    section(class= className)
        .container
            block
