.nav-lang
  position relative
  cursor pointer
  &:hover
    .nav-lang__list
      vb()
    &:after
      transform rotate(180deg)
  &:after
    ba()
    triangle($bk, down, 4)
    rr(0)
    top-size = r(2)
    top "calc(50% - %s)" % top-size
    trans()
  &_link
    pl(10)
    pr(10)
    fc()

  &__list
    position absolute
    top 100%
    left 0
    right 0
    trans()
    hd()
    li
      a
        fc()
        text-transform uppercase
        text-align center
