mixin navigation()

    nav
        .container
            .row
                .col-6.col-md-2
                    +a('nav-logo', '')
                        +img('logo/logo.png')

                .col-6.nav-mobile
                    .nav-icon#menu-trigger
                        span
                        span
                        span
                        span

                .col-md-10.nav-panel
                    ul.menu
                        +li-a('','').active Google
                        +li-a('','') Facebook

                           