nav
  trans()

.nav-logo
  display block
  maxwir(50)
  img
    wi(100%)  

.menu
  fca()
  justify-content flex-end
  he(100%)
  li
    margin 0 r(15)
    a
      display block
      co(lightblue)
      &:hover, &.active
        co(blue)

.nav-mobile
  display none
  +mob()
    display block

    

