mixin navigation()

    nav
        .container
            .row
                .col-6.col-md-2
                    a(href='./' title='').nav-logo
                        img(src='img/logo/logo.png' title='' alt='')

                .col-6.nav-mobile
                    +nav-icon()

                .col-md-10.nav-panel
                    ul.menu
                        +li-a('active', '')
                            | Google
                        +li-a('', '')
                                | Facebook