@import '../../utilities/vars'
@import '../../utilities/mixins'

html, body
  overflow-x hidden

body
  font(16px, 400, normal)
  color $black
  font-family $m-font, $s-font, sans-serif
  background $white

