@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  font-size 16px

html, body
  overflow-x hidden

body
  font($r16, 400, normal)
  color $black
  font-family $m-font,  sans-serif
  background $white

