@import '../../utilities/vars'
@import '../../utilities/mixins'

#preloader-load
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightblue url('../img/icons/grid.svg') center center no-repeat
  background-size: 25px;