@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font($s34, $black, 700, 1.5, $m-font)
  margin-bottom $s20

h2
  font($s30, $black, 700, 1.5, $m-font)
  margin-bottom $s27

h3
  font($s26, $black, 700, 1.5, $m-font)
  margin-bottom $s32

h4
  font($s22, $black, 700, 1.5, $m-font)
  margin-bottom $s38

h5
  font($s18, $black, 700, 1.5, $m-font)
  margin-bottom $s44

h6
  font($s14, $black, 700, 1.5, $m-font)
  margin-bottom $s50

p
  font($s16, $black, 400, 1.57, $m-font)
  margin-bottom 1rem

.paragraph-lead
  font-size $s20

.paragraph-small
  font-size $s14

hr
  border: 0;
  height: 1px;
  background: $black
  margin $s15 0