@import '../../utilities/vars'
@import '../../utilities/mixins'

::selection
  background $black
  color $white

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, $s-font, sans-serif
  color $black

h1
  font($s34, 700, 1.5)
  margin-bottom $s20

h2
  font($s30, 700, 1.5)
  margin-bottom $s27

h3
  font($s26, 700, 1.5)
  margin-bottom $s32

h4
  font($s22, 700, 1.5)
  margin-bottom $s38

h5
  font($s18, 700, 1.5)
  margin-bottom $s44

h6
  font($s14, 700, 1.5)
  margin-bottom $s50

p
  font($s16, 400, 1.57)
  margin-bottom 1rem

.paragraph-lead
  font-size $s20

.paragraph-small
  font-size $s14

hr
  border: 0;
  height: 1px;
  background: $black
  margin $s15 0