@import '../../utilities/vars'
@import '../../utilities/mixins'

::selection
  background $black
  color $white

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, sans-serif
  color $black

h1
  font($f34, 700, 1.5)
  margin-bottom $s20

h2
  font($f30, 700, 1.5)
  margin-bottom $s27

h3
  font($f26, 700, 1.5)
  margin-bottom $s32

h4
  font($f22, 700, 1.5)
  margin-bottom $s38

h5
  font($f18, 700, 1.5)
  margin-bottom $s44

h6
  font($f14, 700, 1.5)
  margin-bottom $s50

p
  font($f16, 400, 1.57)
  margin-bottom $s16

.paragraph-lead
  font-size $f20

.paragraph-small
  font-size $f14

hr
  border: 0;
  height: 1px;
  background: $black
  margin $s15 0