.popup
	position relative
	width 700px
	border-radius $border-radius
	background white
	text-align center

.popup__title
	margin-bottom 4px
	color #414141
	font-weight $font-weight-bolder
	font-size 16px
	line-height 1.6

	+above($media-screen-tablet)
		margin-bottom 8px
		font-size 20px

.popup__message
	font-size $font-size-small
	line-height 1.71

	+above($media-screen-tablet)
		font-size $font-size-base

.popup__close
	position absolute
	top 0
	right 0
	z-index 5
	padding 14px
	opacity 0.5
	cursor pointer
	will-change opacity

	+above($media-screen-tablet)
		padding 14px

	&:hover
		opacity 1
		transition opacity 0.25s linear

	&:before
		display block
		width 14px
		height 14px
		content url("../images/_global/modals/icon-close.svg")

api-popup()
	padding 36px 51px 40px
	width 288px

	+above($media-screen-tablet)
		padding 54px 52px 52px
		width 400px

	&:before
		display block
		margin 0 auto 14px
		width 48px
		height 48px

.popup--api-success
.popup--api-fail
	api-popup()

.popup--api-success
	&:before
		content url("../images/_global/modals/decoration-success.svg")

.popup--api-fail
	&:before
		content url("../images/_global/modals/decoration-fail.svg")
