@import '../../utilities/vars'
@import '../../utilities/mixins'

.pagination
  flex(row)
  justify-content center
  margin 0 auto
  li
    margin 0 $r15
    a
      display inline-block
      color $black
      font-size $e18
      &:hover
        color lightblue
    .arrow
      flex(row)
      justify-content center
      align-items center
      height 100%
    .active
      color blue
      cursor default
      pointer-events: none;