mixin btn(text)
    a(href='' title='').btn= text

mixin li-a(text, className)
    li
        a(href='' title='' class= className)= text

mixin a(text, className)
    a(href='' title='' class= className)= text

mixin img(src, className)
    img(src= src, title='' alt='' class= className)



mixin input(type, placeholder)
    input(type= type, placeholder= placeholder)