include ../utilities/_mixins

doctype html

html

    include ../partials/_head

    body
        include ../partials/_preloader

        include ../partials/_navigation

        main
            include ../partials/headers/_header

            block content

            include ../partials/_footer

        script(type="text/javascript" src="js/vendor.js")
        //script(type="text/javascript" src="js/noui.js")
        script(type="text/javascript" src="js/scripts.js")