a
  text-decoration none
  trans()
  svg g 
    trans()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  maxwir(50)
  img
    wi(100%)


