


a
  text-decoration none
  font-family $m-font, sans-serif
  co(blue)
  trans()
  svg g 
    trans()
  &:hover
    text-decoration none
    co(lightblue)
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 50px
  img
    width 100%


