mixin input(placeholder, className)
    input(type='text', placeholder= placeholder class= className)

mixin input-group(placeholder, className)
    .input-group
        +input(placeholder, className)

mixin textarea(placeholder, className)
    textarea(placeholder= placeholder class= className)

mixin textarea-group(placeholder, className)
    .input-group
        +textarea(placeholder, className)
