input, textarea
  -webkit-appearance none

  fca()

  wi(100%)
  her(54)
  mb(15)

  border r(1) solid $gr
  border-radius: 0;

  padding 0 r(15) r(3)

  trans()
  &:focus
    outline none
  +placeholder()
    co(#999)


input
  &:-webkit-autofill
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #999 !important

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none;
  margin: 0;

input[type=number]
  -moz-appearance:textfield;

label
  fw(400)
  fs(16)
  mb(15)

textarea
  resize none
  her(250)
  mb(15)

