.accordion
	text-align left

.icon-expand-status
	display block
	width 16px
	height 18px
	border-radius 50%
	transition all 0.3s ease-in-out

	&::before
	&::after
		position relative
		display block
		border-radius 2px
		background $tooltipster-color
		content ""
		transition all 0.17s ease-in-out
		will-change transform

	&::before
		top 8px
		left 0
		width 16px
		height 2px

	&::after
		top -1px
		left 7px
		width 2px
		height 16px

.accordion__title
	position relative
	padding-right 60px
	color $text-color-darken
	font-weight $font-weight-bolder
	font-size $font-size-small
	line-height 1.67
	cursor pointer
	user-select none

	h3
		font-size inherit
		line-height inherit


	+above($media-screen-tablet)
		padding-top 16px
		padding-bottom 16px
		padding-left 16px
		min-height auto
		font-size 16px
		line-height 1.75

	+above($media-screen-desktop)
		padding-left 20px

	&:active
	&:focus
		outline none

	&[aria-selected*="true"]
		.icon-expand-status::before
			background-color $tooltipster-color
			transform rotate(180deg)

		.icon-expand-status::after
			background-color $tooltipster-color
			transform rotate(90deg)

	.icon-expand-status
		position absolute
		top 50%
		right 20px
		transform translateY(-50%)

.accordion__item
	margin-bottom 12px
	padding 14px 0 14px 16px
	border-radius 4px
	background-color $white

	+above($media-screen-tablet)
		margin-bottom 16px
		padding 0
		min-height auto

	&:last-child
		margin-bottom 0

.accordion__body
	display none
	padding 12px 60px 16px 0
	color $text-color-darken
	font-size $font-size-small
	line-height 1.5

	+above($media-screen-tablet)
		padding 12px 60px 16px 16px
		font-size $font-size-base

	+above($media-screen-desktop)
		padding 0 60px 16px 20px
		font-size 16px
		line-height 1.75

	p:last-child
		margin-bottom 0
