select
  fca()

  bg($wt)

  wi(100%)
  her(54)

  border r(1) solid $gr
  border-radius 0
  padding 0 r(15) r(3)
  mb(15)

  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none

.select-group
  .chosen-container
    mb(0)
  +mob()
    &:after
      triangle($bk, down, r(4))
      top calc(50% - 2px)
      rr(15)