.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: url("../img/chosen/chosen-sprite.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../img/chosen/chosen-sprite@2x.png") !important;
  }
}



.chosen-container
  width 100%
  fs(16)
  mb(15)
  &:after
    triangle($bk, down, r(4))
    top calc(50% - 2px)
    rr(15)
    trans()

  &:focus
    outline none

  .chosen-single
    padding 0
    height auto

    border-radius 0
    border r(1) solid $gr

    background $wt
    box-shadow none
    trans()
    fs(16)
    span
      fca()
      her(54)
      padding 0 r(15) r(3)
      fs(16)

  .chosen-default
    span
      opacity .5

.chosen-container-single
  .chosen-search
    padding 0 r(5)
    mb(15)
    input[type='text']
      fs(16)
      border r(1) solid $gr
      padding r(11) r(10) r(12)
      background-image none !important

.chosen-container.chosen-with-drop
  &:after
    transform rotate(180deg)

.chosen-container.chosen-container-active
  box-shadow none
  .chosen-single
    box-shadow none
    border r(1) solid blue
    background none

.chosen-container-single .chosen-drop
  border-radius 0
  border r(1) solid blue
  border-top 0
  padding 0
  box-shadow none
  .chosen-results
    padding 0
    margin 0
    box-shadow none
    .active-result
      fca()
      her(54)
      padding 0 r(15) r(3)
      fs(16)
      line-height normal
      &.highlighted
        background blue
    .result-selected
      background $gr
      co($wt)

.chosen-container-single .chosen-single div b
  display none

.chosen-container
  .chosen-results
    li.no-results
      background $wt
      co($gr)
      fca()
      her(54)
      padding 0 r(15) r(3)