select
  width 100%
  bg($wt)
  border r(1) solid $gr2
  padding r(12) r(15) r(13)
  border-radius 0
  display block
  mb(20)
  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none
    border r(1) solid blue

.select-group
  position relative
  mb(20)
  &:after
    triangle($bk, down, 4px)
    top calc(50% - 2px)
    right r(15)

.select-group-noarrow
  &:after
    display none