@import '../../utilities/vars'
@import '../../utilities/mixins'

.accordion
  &--heading
    background $white
    color $black
    cursor pointer
    padding $r12 $r15 $r13
    font-size $e16
    margin 0
    position relative
    trans()
    &:focus
      outline none
    &:hover
      background lightblue
      color $white
    &:after
      triangle($black, down, 4px)
      top calc(50% - 2px)
      right 15px
      trans()
  &--heading.active
    background blue
    color $white
    &:after
      transform rotate(180deg)

  &--panel
    display none
    padding $r12 $r15 $r13



