@import '../../utilities/vars'
@import '../../utilities/mixins'

.ui-accordion
  .ui-accordion-header
    background $white
    color $black
    cursor pointer
    padding $s12 $s15 $s13
    font-size $s16
    margin 0
    position relative
    trans()
    &:focus
      outline none
    &:hover
      background lightblue
      color $white
    &:after
      triangle($black, down, 4px)
      top calc(50% - 2px)
      right 15px
      trans()

  .ui-state-active
    background blue
    color $white
    &:after
      transform rotate(180deg)
  .ui-accordion-content
    padding $s12 $s15 $s13