@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  display block
  max-width 320px
  width 100%
  text-align center
  background blue
  color $white
  padding $r12 $r15 $r13
  margin-bottom $r15
  &:hover
    color $white
    background lightblue

.btn-center
  mcen()