@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  font-family $m-font, sans-serif
  color blue
  trans()
  &:hover
    text-decoration none
    color lightblue
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 50px
  img
    width 100%


