@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  li
    list-style none
    ul
      margin-top $r15
      margin-left $r20

ul, ol
  padding 0
  margin 0
  li
    font-family $m-font, sans-serif

ol
  margin-left $r20
  li
    ol
      margin-top $r15

.ul-regular
  li
    position relative
    padding-left $r20
    margin-bottom $r20
    &:before
      pseudo(block, absolute)
      width 8px
      height 1px
      background $black
      top 10px
      left 0