@import '../../utilities/vars'
@import '../../utilities/mixins'

.tabs
  flex(row)
  margin-bottom $r16

.tabs li
  a
    cursor: pointer;
    padding $r12 $r15 $r13
    color $black
    display block
    trans()

    &:hover
      color $white
      background lightblue
  a.active
    color $white
    background blue


.tabs-content
  display: none;
  padding: $r10 $r15
  animation: fadeEffect 1s;

.tabs-content.active
  display block

@keyframes fadeEffect
  from 
    opacity: 0;
  to 
    opacity: 1;
  
