.ul-nav
  df(row)
  flex-wrap wrap
  margin-bottom $s16
  justify-content center
  li
    margin 0 $s15
    a
      padding $s12 $s15 $s13
      background $trans
      color $black
      display inline-block
      &:hover
        color $white
        background lightblue
    .active
      background blue
      color $white