mixin volta()

    a(href='//volta.one' title='Volta Agency' target='_blank').volta
        span.volta--text created by
        span.volta--visible
            +volta-svg1()

        span.volta--hidden
            +volta-svg2()