extend templates/_template.pug

block title
    | Главная страница

block content


    section
        .container
            .col-12
                +btn('Привет')
                +accordion()
                +tabs()






