//  LINKS
@import "partials/links"

//  BUTTONS
@import "partials/buttons"

//  LISTS
@import "partials/lists"

//  IMAGES
//@import "partials/images"

//  TABLES
//@import "partials/tables"

//  MAP
//@import "partials/map"

//  AUDIO
//@import "partials/audio"

//  VIDEO
//@import "partials/video"

//  SLIDER
//@import 'partials/slider'

//  MODAL
//@import 'partials/modal'

//  TABS
//@import 'partials/tabs'

//  ACCORDION
//@import 'partials/accordion'