functionality-links
	background-image url("../images/_global/functionality-links/functionality-links-sprite.svg")
	background-repeat no-repeat

.fl-bookmarks
	@extend functionality-links
	width 16px
	height 16px
	background-position 13.333333333333334% 0

.fl-combined-shape
	@extend functionality-links
	width 16px
	height 16px
	background-position 15% 80%

.fl-compress
	@extend functionality-links
	width 16px
	height 16px
	background-position 27.868852459016395% 0

.fl-converter
	@extend functionality-links
	width 16px
	height 17px
	background-position 0 20%

.fl-delete
	@extend functionality-links
	width 16px
	height 16px
	background-position 15% 20%

.fl-edit
	@extend functionality-links
	width 16px
	height 16px
	background-position 41.666666666666664% 0

.fl-excel
	@extend functionality-links
	width 16px
	height 16px
	background-position 41.666666666666664% 20%

.fl-extract
	@extend functionality-links
	width 16px
	height 16px
	background-position 0 40%

.fl-grayscale
	@extend functionality-links
	width 16px
	height 16px
	background-position 15% 39.130434782608695%

.fl-half
	@extend functionality-links
	width 16px
	height 16px
	background-position 56.666666666666664% 0

.fl-header
	@extend functionality-links
	width 16px
	height 16px
	background-position 55.73770491803279% 20%

.fl-html
	@extend functionality-links
	width 16px
	height 16px
	background-position 56.666666666666664% 40%

.fl-jpg
	@extend functionality-links
	width 16px
	height 16px
	background-position 0 60%

.fl-merge
	@extend functionality-links
	width 16px
	height 17px
	background-position 15% 60%

.fl-mix
	@extend functionality-links
	width 16px
	height 16px
	background-position 29.508196721311474% 60%

.fl-n-up
	@extend functionality-links
	width 16px
	height 16px
	background-position 43.333333333333336% 60%

.fl-number
	@extend functionality-links
	width 15px
	height 16px
	background-position 98.36065573770492% 54.34782608695652%

.fl-ocr
	@extend functionality-links
	width 16px
	height 16px
	background-position 70.49180327868852% 0

.fl-ppt-to-pdf
	@extend functionality-links
	width 16px
	height 16px
	background-position 0 80%

.fl-protect
	@extend functionality-links
	width 16px
	height 16px
	background-position 0 0

.fl-reader
	@extend functionality-links
	width 16px
	height 16px
	background-position 30% 39.130434782608695%

.fl-rename
	@extend functionality-links
	width 16px
	height 16px
	background-position 30% 80%

.fl-reorder
	@extend functionality-links
	width 16px
	height 15px
	background-position 45% 78.26086956521739%

.fl-repair
	@extend functionality-links
	width 16px
	height 16px
	background-position 85% 0

.fl-resize
	@extend functionality-links
	width 16px
	height 16px
	background-position 85% 20%

.fl-rotate
	@extend functionality-links
	width 16px
	height 16px
	background-position 98.36065573770492% 36.95652173913044%

.fl-e-sign
	@extend functionality-links
	width 16px
	height 16px
	background-position 85% 60%

.fl-size
	@extend functionality-links
	width 16px
	height 16px
	background-position 85% 80%

.fl-split
	@extend functionality-links
	width 16px
	height 16px
	background-position 0 100%

.fl-text
	@extend functionality-links
	width 16px
	height 16px
	background-position 15% 100%

.fl-text-split
	@extend functionality-links
	width 16px
	height 16px
	background-position 98.36065573770492% 19.565217391304348%

.fl-to-excel
	@extend functionality-links
	width 16px
	height 16px
	background-position 45% 100%

.fl-to-jpg
	@extend functionality-links
	width 16px
	height 16px
	background-position 60% 100%

.fl-to-ppt
	@extend functionality-links
	width 16px
	height 16px
	background-position 75% 100%

.fl-to-word
	@extend functionality-links
	width 16px
	height 16px
	background-position 30% 100%

.fl-unlock
	@extend functionality-links
	width 16px
	height 16px
	background-position 83.60655737704919% 40%

.fl-watermark
	@extend functionality-links
	width 16px
	height 16px
	background-position 57.377049180327866% 60%

.fl-word
	@extend functionality-links
	width 16px
	height 16px
	background-position 100% 0
