include ../utilities/_utilities

doctype html

html(lang='')

    +head()

    body

        //+preloader()
        //+preloader-lottie()

        +navigation()

        main

            +header()

            block content

            +footer()

        script(src="js/vendor.js")
        //script(src="js/nouislider.js")
        script(src="js/scripts.js")