.pagination
  fc()
  justify-content center
  margin 0 auto
  li
    margin 0 r(15)
    &.arrow
      he(100%)
      a  
        fc()
    &.active
      cursor default
      pointer-events: none;
    a
      display inline-block
      co($bk)
      fs(18)
    
    