mixin pagination()
    ul.pagination
        li.arrow.left
            a(href='' title='' rel="prev") <

        +li-a('1')
        +li-a('2', 'active')
        +li-a('3')
        +li-a('...')

        li.arrow.right
            a(href='' title='' rel="next") >