mixin pagination()
    ul.pagination
        li.arrow.left
            a(href='' title='' rel="prev")
                +icon-angle-left()

        +li-a('', '')
            | 1
        +li-a('active', '')
            | 2
        +li-a('', '')
            | 3
        +li-a('', '')
            | ...

        li.arrow.right
            a(href='' title='' rel="next")
                +icon-angle-right()