.pagination
  df(row)
  justify-content center
  margin 0 auto
  li
    margin 0 r(15)
    a
      display inline-block
      co($bk)
      fs(18)
    .arrow
      fc()
      height 100%
    .active
      cursor default
      pointer-events: none;