.logos
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items center
	margin 0 auto
	width 298px

	+above($media-screen-tablet)
		margin 0 -15px
		width 608px

	+above($media-screen-desktop)
		width auto

.logos__item
	margin 0 5px 30px

	+above($media-screen-tablet)
		margin 0 15px 30px

	+above($media-screen-desktop)
		margin 0 15px 38px

	&:last-child
		margin 0 auto 30px

		+above($media-screen-tablet)
			margin 0 15px 30px

.logos__item--apple
	+above($media-screen-tablet)
		order 1

	svg
		width 28px

		+above($media-screen-tablet)
			width 34.8px

		+above($media-screen-desktop)
			width 38.6px

.logos__item--microsoft
	+above($media-screen-tablet)
		order 2
		margin 0 35px 30px

	svg
		width 81px

		+above($media-screen-tablet)
			width 99.6px

		+above($media-screen-desktop)
			width 110.4px

.logos__item--general-electric
	+above($media-screen-tablet)
		order 3

	svg
		width 35px

		+above($media-screen-tablet)
			width 43.4px

		+above($media-screen-desktop)
			width 48.2px

.logos__item--amazon
	+above($media-screen-tablet)
		order 4
		margin 0 35px 30px

	svg
		width 73px

		+above($media-screen-tablet)
			width 89.8px

		+above($media-screen-desktop)
			width 99.6px

.logos__item--ibm
	+above($media-screen-tablet)
		order 5

	svg
		width 46px

		+above($media-screen-tablet)
			width 56.9px

		+above($media-screen-desktop)
			width 63.1px

.logos__item--hp
	+above($media-screen-tablet)
		order 7

	+above($media-screen-desktop)
		order 6

	svg
		width 35px

		+above($media-screen-tablet)
			width 43.4px

		+above($media-screen-desktop)
			width 48.2px

.logos__item--verizon
	+above($media-screen-tablet)
		order 6

	+above($media-screen-desktop)
		order 7

	svg
		width 66px

		+above($media-screen-tablet)
			width 81.6px

		+above($media-screen-desktop)
			width 90.5px

.logos__item--boeing
	+above($media-screen-tablet)
		order 8

	svg
		width 79px

		+above($media-screen-tablet)
			width 98.1px

		+above($media-screen-desktop)
			width 108.8px

.logos__item--ford
	+above($media-screen-tablet)
		order 9

	svg
		width 62px

		+above($media-screen-tablet)
			width 77.1px

		+above($media-screen-desktop)
			width 85.5px

.logos__item--walmart
	+above($media-screen-tablet)
		order 12

	svg
		width 88px

		+above($media-screen-tablet)
			width 109.3px

		+above($media-screen-desktop)
			width 121.2px

.logos__item--mckesson
	+above($media-screen-tablet)
		order 13

	svg
		width 83px

		+above($media-screen-tablet)
			width 101.8px

		+above($media-screen-desktop)
			width 99px

.logos__item--cvs-health
	+above($media-screen-tablet)
		order 11

	svg
		width 102px

		+above($media-screen-tablet)
			width 125.8px

		+above($media-screen-desktop)
			width 139.5px

.logos__item--bank-of-america
	+above($media-screen-tablet)
		order 10

	svg
		width 163px

		+above($media-screen-tablet)
			width 156.5px

		+above($media-screen-desktop)
			width 173.6px

.logos__item--exxon-mobil
	+above($media-screen-tablet)
		order 14

	svg
		width 84px

		+above($media-screen-tablet)
			width 103.3px

		+above($media-screen-desktop)
			width 99.8px