mixin slider-slick()
    .slider-slick
        +slider-slick-slide()
        +slider-slick-slide()
        +slider-slick-slide()


mixin slider-slick-counter()
    .slider-slick-counter 1/12

mixin slider-slick-slide()
    div
        .slider-slick__slide
            | 123
