.slick-loading .slick-list
  background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;

@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');


//.slider-slick
//  &__arrow
//    position absolute
//    z-index 100
//    her(50)
//    wir(50)
//    clm(top, 50%, 25)
//    cursor pointer
//    fs(50)
//    co($gr)
//    fc()
//    trans()
//    &:hover
//      co(blue)
//    &.left
//      lr(-50)
//    &.right
//      rr(-50)
//
//  &__slide
//    display flex !important
//    justify-content center
//    align-items center
//    her(350)
//    overflow hidden
//    &:focus
//      outline none
//
//  .slick-dots
//    br(0)
//    lr(0)
//    rr(0)
//    display flex
//    justify-content center
//    li
//      wi(auto)
//      he(auto)
//      margin 0 r(3)
//      button
//        padding 0
//        border-radius 50%
//        bg(#ccc)
//        wir(10)
//        her(10)
//        fs(0)
//        trans()
//        &:before
//          display none
//        &:hover
//          bg(blue)
//
//    .slick-active
//      button
//        bg(blue)
