.fancybox-slide > div
  width 100%
  max-width r(1170)
  +lg()
    max-width r(960)
  +md()
    max-width r(720)
  +sm()
    max-width r(540)
  +xs()
    max-width calc(100% - r(30))

.fancybox-close-small
  &:hover
    &:after
      bg($tr)
  &:focus
    &:after
      outline none
  &:after
    trans()
