.fancybox-slide > div
  width 100%
  maxwir(1170)
  +lg()
    maxwir(960)
  +md()
    maxwir(720)
  +sm()
    maxwir(540)
  +xs()
    max-width calc(100% - 30px)

.fancybox-close-small
  &:hover
    &:after
      bg($tr)
  &:focus
    &:after
      outline none
  &:after
    trans()
