.fancybox-slide > div
  width 100%
  max-width 1170px
  +lg()
    max-width 960px
  +md()
    max-width 720px
  +sm()
    max-width 540px
  +xs()
    max-width calc(100% - 30px)

.fancybox-close-small
  &:hover
    &:after
      bg($tr)
      co(lightblue)
  &:focus
    &:after
      outline none
  &:after
    trans()
    co(blue)