mixin icon-volta
    include icons/volta.svg

mixin icon-mouse
    include icons/mouse.svg

mixin icon-youtube
    include icons/youtube.svg

mixin icon-facebook
    include icons/facebook.svg

mixin icon-twitter
    include icons/twitter.svg

mixin icon-share
    include icons/share.svg

mixin icon-arrow-right
    include icons/arrow-right.svg

mixin icon-arrow-right-black
    include icons/arrow-right-black.svg

mixin icon-lang
    include icons/lang.svg

mixin arrow-big-left-red
    include icons/arrow-big-left-red.svg

mixin arrow-big-right-red
    include icons/arrow-big-right-red.svg

mixin arrow-back
    include icons/arrow-back.svg

mixin icon-mail
    include icons/mail.svg

mixin icon-skrepka
    include icons/skrepka.svg

mixin icon-download
    include icons/download.svg

mixin icon-calendar
    include icons/calendar.svg

mixin icon-share2
    include icons/share2.svg

mixin icon-eye
    include icons/eye.svg

mixin icon-phone
    include icons/phone.svg

mixin icon-mail2
    include icons/mail2.svg

mixin icon-fax
    include icons/fax.svg

mixin icon-pdf
    include icons/pdf.svg

mixin icon-search
    include icons/search.svg

mixin icon-subscribe
    include icons/subscribe.svg

mixin icon-filter
    include icons/filter.svg

mixin icon-fb2
    include icons/fb2.svg

mixin icon-tw2
    include icons/tw2.svg
