mixin icon-volta
    include icons/volta.svg

mixin angle-right
    include icons/angle-right.svg

mixin arrow-right
    include icons/arrow-right.svg

mixin arrow-left
    include icons/arrow-left.svg

mixin arrow-right-big
    include icons/arrow-right-big.svg

mixin arrow-left-big
    include icons/arrow-left-big.svg

mixin icon-attention
    include icons/attention.svg

mixin icon-calendar
    include icons/calendar.svg

mixin icon-close
    include icons/close.svg

mixin icon-download
    include icons/download.svg

mixin icon-eye
    include icons/eye.svg

mixin icon-fax
    include icons/fax.svg

mixin icon-filter
    include icons/filter.svg

mixin icon-facebook-sq
    include icons/facebook.svg

mixin icon-facebook
    include icons/facebook2.svg

mixin icon-google
    include icons/google.svg

mixin icon-human
    include icons/human.svg

mixin icon-instagram
    include icons/instagram.svg

mixin icon-lang
    include icons/lang.svg

mixin icon-linkedin
    include icons/linkedin.svg

mixin icon-login
    include icons/login.svg

mixin icon-logout
    include icons/logout.svg

mixin icon-mail
    include icons/mail.svg

mixin icon-mail-sq
    include icons/mail2.svg

mixin icon-mouse
    include icons/mouse.svg

mixin icon-map
    include icons/map.svg

mixin icon-phone
    include icons/phone.svg

mixin icon-pdf
    include icons/pdf.svg

mixin icon-play
    include icons/play.svg

mixin icon-pen
    include icons/pen.svg

mixin icon-share
    include icons/share.svg

mixin icon-share-sq
    include icons/share2.svg

mixin icon-search
    include icons/search.svg

mixin icon-send-arrow
    include icons/send.svg

mixin icon-skrepka
    include icons/skrepka.svg

mixin icon-subscribe
    include icons/subscribe.svg

mixin icon-twitter-sq
    include icons/twitter.svg

mixin icon-twitter
    include icons/twitter2.svg

mixin icon-youtube-sq
    include icons/youtube.svg