mixin arrow-left()
    //include icons/arrow-left.svg

mixin arrow-right()
    //include icons/arrow-right.svg

mixin volta-svg1()
    include icons/volta1.svg

mixin volta-svg2()
    include icons/volta2.svg