mixin slider-slick()
    .slider-slick
        +slide()
        +slide()
        +slide()

mixin slider-slick-counter()
    .slider-slick-counter 1/12

mixin slider-slick-slide()
    div
        .slider-slick__slide
            block