//  BLOCKS
@import 'partials/sections'

//  NAVIGATION
@import 'partials/navigation'

//  HEADER
@import 'partials/header'

//  FOOTER
@import 'partials/footer'

//  BREADCRUMBS
//@import 'partials/breadcrumbs'

//  PAGINATION
//@import 'partials/pagination'