


::selection
  bg($bk)
  co($wt)

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, sans-serif
  co($bk)

h1
  font(e(34), 700, 1.5)
  mb(r(20))

h2
  font(e(30), 700, 1.5)
  mb(r(27))

h3
  font(e(26), 700, 1.5)
  mb(r(32))

h4
  font(e(22), 700, 1.5)
  mb(r(38))

h5
  font(e(18), 700, 1.5)
  mb(r(44))

h6
  font(e(14), 700, 1.5)
  mb(r(50))

p
  font(e(16), 400, 1.57)
  mb(r(16))

hr
  border: 0;
  height: 1px;
  bg($bk)
  margin r(15) 0

