::selection
  bg($bk)
  co($wt)

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite, a
  font-family $m-font, sans-serif
  co($bk) //color

h1
  font(e(34), 700, 1.5) //font-size, font-weight, line-height
  mb(20)

h2
  font(e(30), 700, 1.5)
  mb(27)

h3
  font(e(26), 700, 1.5)
  mb(32)

h4
  font(e(22), 700, 1.5)
  mb(38)

h5
  font(e(18), 700, 1.5)
  mb(44)

h6
  font(e(14), 700, 1.5)
  mb(50)

p
  font(e(16), 400, 1.57)
  mb(16)

hr
  border: 0;
  height: r(1)
  bg($bk)
  margin r(15) 0

