-
     const features = [
          {
               title: "View & Edit",
               list: [
                    {
                         icon: "view-edit/edit-pdf.svg",
                         text: "Edit PDF"
                    },
                    {
                         icon: "view-edit/highlight-pdf.svg",
                         text: "Highlight PDF"
                    },
                    {
                         icon: "view-edit/blackout-pdf.svg",
                         text: "Blackout PDF"
                    },
                    {
                         icon: "view-edit/search-in-pdf.svg",
                         text: "Search in PDF"
                    },
                    {
                         icon: "view-edit/write-on-pdf.svg",
                         text: "Write on PDF"
                    },
               ]
          },
          {
               title: "Manage text",
               list: [
                    {
                         icon: "manage-text/add-text-to-pdf.svg",
                         text: "Add text to PDF"
                    },
                    {
                         icon: "manage-text/change-text-in-pdf.svg",
                         text: "Change text in PDF"
                    },
                    {
                         icon: "manage-text/delete-pages.svg",
                         text: "Delete text from PDF"
                    },
                    {
                         icon: "manage-text/remove-text-from-pdf.svg",
                         text: "Remove text from PDF"
                    },
                    {
                         icon: "manage-text/erase-text-in-pdf.svg",
                         text: "Erase text in PDF"
                    },
                    {
                         icon: "manage-text/insert-text-box-in-pdf.svg",
                         text: "Insert text box in PDF"
                    },
                    {
                         icon: "manage-text/enter-text-in-pdf.svg",
                         text: "Enter text in PDF"
                    },
                    {
                         icon: "manage-text/replace-text-in-pdf.svg",
                         text: "Replace text in PDF"
                    }
               ]
          },
          {
               title: "Format text",
               list: [
                    {
                         icon: "format-text/change-font-in-pdf.svg",
                         text: "Change font in PDF"
                    },
                    {
                         icon: "format-text/change-font-size-in-pdf.svg",
                         text: "Change font size in PDF"
                    },
                    {
                         icon: "format-text/change-text-color-in-pdf.svg",
                         text: "Change text color in PDF"
                    },
                    {
                         icon: "format-text/underline-text-in-pdf.svg",
                         text: "Underline text in PDF"
                    },
                    {
                         icon: "format-text/bold-text-in-pdf.svg",
                         text: "Embolden text in pdf"
                    },
                    {
                         icon: "format-text/italic-text-in-pdf.svg",
                         text: "italicize text in pdf"
                    }
               ]
          },
          {
               title: "Split & Merge",
               list: [
                    {
                         icon: "split-merge/merge-pdf.svg",
                         text: "Merge PDF"
                    },
                    {
                         icon: "split-merge/rotate-pdf.svg",
                         text: "Rotate PDF"
                    },
                    {
                         icon: "split-merge/split-pdf.svg",
                         text: "Split PDF"
                    },
                    {
                         icon: "split-merge/merge-pdf.svg",
                         text: "Merge multiple PDF files"
                    },
                    {
                         icon: "split-merge/pdf-converter.svg",
                         text: "Combine PDF"
                    }
               ]
          },
          {
               title: "Pages",
               list: [
                    {
                         icon: "pages/add-page-to-pdf.svg",
                         text: "Add page to PDF"
                    },
                    {
                         icon: "pages/reorder-pdf-pages.svg",
                         text: "Reorder PDF pages"
                    },
                    {
                         icon: "pages/delete-pages-from-pdf.svg",
                         text: "Delete pages from PDF"
                    },
                    {
                         icon: "pages/remove-pages-from-pdf.svg",
                         text: "Remove pages from PDF"
                    },
                    {
                         icon: "pages/copy-pdf-page.svg",
                         text: "Copy PDF page"
                    },
                    {
                         icon: "pages/duplicate-page-in-pdf.svg",
                         text: "Duplicate page in PDF"
                    },
                    {
                         icon: "pages/page-numbering.svg",
                         text: "Add page numbers to PDF"
                    },
                    {
                         icon: "pages/extract-pages-from-pdf.svg",
                         text: "Extract pages from PDF"
                    }
               ]
          },
          {
               title: "Export",
               list: [
                    {
                         icon: "export/send-pdf.svg",
                         text: "Send PDF"
                    },
                    {
                         icon: "export/email-pdf.svg",
                         text: "Email PDF"
                    },
                    {
                         icon: "export/save-pdf.svg",
                         text: "Save PDF"
                    },
                    {
                         icon: "export/print-pdf.svg",
                         text: "Print PDF"
                    }
               ]
          }
     ];

     const navLinks = [
          {
               title: "Home",
               isActive: "true",
               hasDropdown: "false"
          },
          {
               title: "Features",
               isActive: "false",
               hasDropdown: "true"
          },
          {
               title: "About",
               isActive: "false",
               hasDropdown: "false"
          }
     ]