.tabs
  df(row)
  mb(15)

  li
    a
      cursor: pointer;
      padding 0 r(15) r(3)
      co($bk)
      fc()
      her(54)
      trans()
      &:hover
        co($wt)
        bg(lightblue)
      &.active
        co($wt)
        bg(blue)

.tabs-content
  display: none;
  padding r(10) r(15)
  animation: fadeEffect 1s;

  &.active
    display block

@keyframes fadeEffect
  from
    opacity: 0;
  to
    opacity: 1;