#preloader-load
  display: block;
  position: fixed;
  z-index: 99999;
  tr(0)
  lr(0)
  wi(100%)
  he(100%)
  background: lightblue url('../img/icons/grid.svg') center center no-repeat
  background-size: r(25)