//  MOBILE
mob()
  @media (max-width: 767px)
    {block}

//  PHONE
xs()
  @media (max-width: 567px)
    {block}

//  PHONE LANDSCAPE
sm()
  @media (min-width: 568px) and (max-width 767px)
    {block}

ix()
  @media (min-width: 768px) and (max-width 812px) and (orientation : landscape)
    {block}    

// PAD
pad()
  @media (min-width: 768px) and (max-width: 1199px)
    {block}

//  PAD PORTRAIT
md()
  @media (min-width: 768px) and (max-width: 991px)
    {block}

//  PAD TABLET
lg()
  @media (min-width: 992px) and (max-width: 1199px)
    {block}

//    DISPLAY
xl()
  @media (min-width: 1200px)
    {block}

//    LARGE DISPLAY
xxl()
  @media (min-width: 1600px)
    {block}

hei()
  @media (min-height: 1024px) and (max-width: 1366px) and (min-width: 1024px)
    {block}    


mmin($minwidth)
  @media (min-width: $minwidth)
    {block}

mmax($maxwidth)
  @media (max-width: $maxwidth)
    {block}

media($minwidth, $maxwidth)
  @media (min-width: $minwidth) and (max-width: $maxwidth)
    {block}