//  Extra small only
xs()
  @media (max-width: 567px)
    {block}

//  Small only
sm()
  @media (min-width: 568px) and (max-width: 767px)
    {block}

//  Small and Up
smu()
  @media (min-width: 568px)
    {block}

//  Small and Down (Mobile only)
mob()
  @media (max-width: 767px)
    {block}

//  Medium only
md()
  @media (min-width: 768px) and (max-width: 991px)
    {block}

//  Medium and Up
mdu()
  @media (min-width: 768px)
    {block}

//  Medium and Down
mdd()
  @media (max-width: 991px)
    {block}

//  Large only
lg()
  @media (min-width: 992px) and (max-width: 1199px)
    {block}

//  Large and Up
lgu()
  @media (min-width: 992px)
    {block}

//  Large and Down
lgd()
  @media (max-width: 1199px)
    {block}

// Tablet only
tab()
  @media (min-width: 768px) and (max-width: 1199px)
    {block}

//  Extra large only
xl()
  @media (min-width: 1200px) and (max-width: 1599px)
    {block}

//  Extra large and Up
xlu()
  @media (min-width: 1200px)
    {block}

//  Extra large and Down
xld()
  @media (max-width: 1599px)
    {block}

//  Super extra large only
xxl()
  @media (min-width: 1600px)
    {block}


//  CUSTOM MIN WIDTH
mmin($minwidth)
  @media (min-width: $minwidth)
    {block}

//  CUSTOM MAX WIDTH
mmax($maxwidth)
  @media (max-width: $maxwidth)
    {block}

//  CUSTOM MIN-MAX WIDTH
media($minwidth, $maxwidth)
  @media (min-width: $minwidth) and (max-width: $maxwidth)
    {block}