// ----- MARGIN CENTER -----
mc()
  margin-left auto
  margin-right auto

// REM SIZES
r(n)
  (n * ( 1 / $base-font-size ))rem

// EM SIZES
e(n)
  (n * ( 1 / $base-font-size ))em

rmi(n)
  -((n * ( 1 / $base-font-size )))rem

// EM SIZES
emi(n)
  -((n * ( 1 / $base-font-size )))em

//  SIZES
wr($wr)
  width r($wr)

hr($hr)
  height r($hr)

maxwr($maxwr)
  max-width r($maxwr)  

maxhr($maxhr)
  max-height: r($maxhr)

minwr($minwr)  
  min-width: r($minwr)

minhr($minhr)
  min-height: r($minhr)

//  MARGINS

mm($top, $right, $bottom, $left)
  margin r($top) r($right) r($bottom) r($left)

mt($sz)
  margin-top r($sz)

mr($sz)
  margin-right r($sz)

mb($sz)
  margin-bottom r($sz)

ml($sz)
  margin-left r($sz)

//  PADDINGS

pp($top, $right, $bottom, $left)
  padding r($top) r($right) r($bottom) r($left)


pt($sz)
  padding-top r($sz)

pr($sz)
  padding-right r($sz)

pb($sz)
  padding-bottom r($sz)

pl($sz)
  padding-left r($sz)


//  MARGINS MINUS

mtm($sz)
  margin-top rmi($sz)

mrm($sz)
  margin-right rmi($sz)

mbm($sz)
  margin-bottom rmi($sz)

mlm($sz)
  margin-left rmi($sz)