//  EM SIZES
r(n)
  (n * ( 1 / $base-font-size ))rem

rmi(n)
  -((n * ( 1 / $base-font-size )))rem

//  EM SIZES
e(n)
  (n * ( 1 / $base-font-size ))em

emi(n)
  -((n * ( 1 / $base-font-size )))em

//  PADDINGS

pp($top, $right, $bottom, $left)
  padding r($top) r($right) r($bottom) r($left)

pt($sz)
  padding-top r($sz)

pr($sz)
  padding-right r($sz)

pb($sz)
  padding-bottom r($sz)

pl($sz)
  padding-left r($sz)

//  MARGINS

mc()
  margin-left auto
  margin-right auto

mm($top, $right, $bottom, $left)
  margin r($top) r($right) r($bottom) r($left)

mt($sz)
  margin-top r($sz)

mr($sz)
  margin-right r($sz)

mb($sz)
  margin-bottom r($sz)

ml($sz)
  margin-left r($sz)


//  MARGINS MINUS

mmt($sz)
  margin-top rmi($sz)

mmr($sz)
  margin-right rmi($sz)

mmb($sz)
  margin-bottom rmi($sz)

mml($sz)
  margin-left rmi($sz)



//FLEX

fl($sz)
  flex 0 0 $sz
  max-width $sz

//FLEX REM

flr($sz)
  flex 0 0 r($sz)
  max-width r($sz)



//  SIZES
wi($wr)
  width $wr

he($hr)
  height $hr


//  SIZES REM

wir($wr)
  width r($wr)

her($hr)
  height r($hr)


//MIN-MAX WIDTH HEIGHT

maxwi($maxwr)
  max-width $maxwr

maxhe($maxhr)
  max-height: $maxhr

minwi($minwr)
  min-width: $minwr

minhe($minhr)
  min-height: $minhr


//MIN-MAX WIDTH HEIGHT REM

maxwir($maxwr)
  max-width r($maxwr)

maxher($maxhr)
  max-height: r($maxhr)

minwir($minwr)
  min-width: r($minwr)

minher($minhr)
  min-height: r($minhr)

//  POSITION
tr($sz)
  top r($sz)

lr($sz)
  left r($sz)

rr($sz)
  right r($sz)

br($sz)
  bottom r($sz)

//  CALC SIZES
//arrow-size = 5px
//left "calc(50% - %s)" % arrow-size