.accordion
  &_heading
    fca()
    bg($wt)
    co($bk)
    cursor pointer
    padding 0 r(15) r(3)
    her(45)
    fs(16)
    margin 0
    position relative
    trans()
    &:focus
      outline none
    &:hover
      bg(lightblue)
      co($wt)
    &:after
      triangle($bk, down, 4)
      clm(top, 50%, 2)
      rr(15)
      trans()
    &.active
      bg(blue)
      co($wt)
      &:after
        transform rotate(180deg)

  &__panel
    display none
    padding r(12) r(15) r(13)





