include buttons/buttons
include images/images
include links/links
include lists/lists
include accordion/accordion
include tabs/tabs
include modal/modal
include map/map-snazzy    
include slider/slider-slick
include slider/slider-swiper