mixin slider-owl()
    .owl-carousel
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()
        +slider-owl-slide()


mixin slider-owl-slide()
    div slide